<!DOCTYPE html>
<html lang="es"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>{{ page_name }} - {{ site_name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web informativa del club deportivo Inline Sacti Petri. Club de hockey línea de Chiclana, Cádiz">
    <meta name="author" content="Jesus de Mula">
	
    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/sanctipetri.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="icon/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"><img id="logo_club" alt='Logo Club' src='/img/logow.jpg' />{{ site_name }}</a>
            <ul class="nav">
              <li{% if page_name == 'Portada' %} class="active" {% endif %}><a href="/">Inicio</a></li>
              <li{% if page_name == 'Escuelas' or page_name == 'Categoria Senior' %} class="active" {% endif %}><a href="/escuelas/">Escuelas</a></li>
              <li{% if page_name == 'Competiciones' %} class="active" {% endif %}><a href="/competiciones/">Competiciones</a></li>
              <li{% if page_name == 'Quienes Somos' %} class="active" {% endif %}><a href="/quienes-somos/">Quienes somos</a></li>
              <li{% if page_name == 'Contacta' %} class="active" {% endif %}><a href="/contacta/">Contacta</a></li>
            </ul>
        </div>
      </div>
    </div>
	
{% block body %}{% endblock %}

    <footer>
      <div class='container'>
        <div class='row'>
          <div class='span8'>
            <div class='row'>
              <div class='span3'>
                <h4>Escuelas</h4>
                <ul class='unstyled'>
                  <li>
                    <a href='/escuelas/#peques'>Benjamin e Infantil</a>
                  </li>
                  <li>
                    <a href='/escuelas/#juveniles'>Juvenil</a>
                  </li>
                  <li>
                    <a href='/escuelas/#patinaje'>Patinaje para niños</a>
                  </li>
				  <li>
                    <a href='/senior/#patinaje'>Patinaje Adultos</a>
					<span class='label success'>Nuevo</span>
                  </li>
                  <li>
                    <a href='/senior/#equipo'>Senior</a>
                  </li>
                </ul>
              </div>
              <div class='span3'>
                <h4>Competiciones</h4>
                <ul class='unstyled'>
                  <li>
                    <a href='/competiciones/#peques'>Campeonato infantil de Andalucía</a>
                  </li>
				  <li>
                    <a href='/competiciones/#juvenil'>Campeonato juvenil de Andalucía</a>
                  </li>
				  <li>
                    <a href='/competiciones/#ligasenior'>Liga andaluza senior</a>
                  </li>
				  <li>
                    <a href='/competiciones/#winterclassic'>Torneo "Winter Classic"</a>
                  </li>
				  <li>
                    <a href='/competiciones/#torneodeverano'>Torneo de verano "Ciudad de Chiclana"</a>
                  </li>
                </ul>
              </div>
              <div class='span2'>
                <h4>Club</h4>
                <ul class='unstyled'>
				  <li>
                    <a href='https://www.facebook.com/inlinesanctipetri'>Novedades</a>
                  </li>
                  <li>
                    <a href='/quienes-somos/'>Conócenos</a>
                  </li>
                  <li>
                    <a href='/quienes-somos/#junta'>Junta directiva</a>
                  </li>
                  <li>
                    <a href='/contacta/'>Contacta</a>
                  </li>
                  <li>
                    <a href='/#patrocinadores'>Patrocinadores</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class='span4'>
            <h4>
              Apúntate a nuestra lista de correo
            </h4>
            <p>
              Elige tu equipo y entérate de todo lo que esta pasando.
            </p>
            <form action='/subscribir/senior' id='subscribe_form' method='post' name='subscribe-form' target='_blank'>
              <div class='clearfix'>
                <input class='span4' name='EMAIL' placeholder='correo electrónico' type='email' />
                <input class='btn' name='subscribe' type='submit' value='Apúntate' />
              </div>
            </form>
          </div>
        </div>
      </div>
      <div id='footer-floor'>
        <div class='container'>
           <div class='row'>
            <div class='span8'>
              <h3 id='phone'>
                +34-686-280858              </h3>
                <p>
                &copy; 2012 <a href="/" title="Club In-Line Sancti Petri - Escuelas de patinaje y hockey en Chiclana de la Frontera, Cádiz">Club In-Line Sancti Petri</a>. Todos los derechos reservados.
                &nbsp;<a href='/terminos/'>Términos</a>&nbsp;&&nbsp;<a href='/privacidad/'>Privacidad</a>.
              </p>
            </div>
            <div class='span2 ar' id='elsewhere-msg'>
              <h4>Conecta:</h4>
            </div>
            <div class='span2' id='elsewhere-icons'>
              <a class='twitter' href='https://twitter.com/demula' title='Sigue a unos de nuestros jugadores @demula en Twitter'>
                Twitter
              </a>
              <a class='facebook' href='https://www.facebook.com/inlinesanctipetri' title='Añadenos como "Me gusta" demula en Facebook'>
                Facebook
              </a>
              <a class='blog' href='http://inlinesanctipetri.blogspot.com.es/' title='Pásate por nuestro blog'>
                Blog
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    </div> <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>

  

</body></html>
