{% extends "base.html" %}
{% block body %}
    <div class="container content">
      <!-- Example row of columns -->
      <div class="row">
        <div class="span9">
          <h2>Competiciones</h2>
          <p>El Club deportivo In Line Sancti Petri blal blala blaaa fgffjfg f g  rg  ersgrgsser  grserg ergsrg errg r se r egg e grsgs  e gr r  r r er gserg gseghtjyu jy h  tshh  hw5h 5h5   erge t  j  shht hh th eth   heth ejkghjhj tyrytyr huhuihuihu jjk ytyuhujkgj hghjghghjgj uggyuu gyugyugyugyu yugyugygyu  gyugyyuug uggygyg gyugyuhbjbhbhjbh hjhjhgj jhhjhgjhj jhghjghjghj hjhjgihgjh  fghfjfghfg gghjghjghj gjggkgh hjgghjggj hjghjgj hgjkggkh ghjgj hjghjgj hjghgjkghj gjfghgffhfth te hsth hth hst h he htht ehetheth ethset hset htehteh heth sh j 6j6  5 5 4 gr her   gre rgth tshtsht hst h</p>
        </div>
        <div class="span3">
          <img alt='hockey man' src='/img/inlinesplogo.jpg' />
        </div>
      </div>
      <br>
    </div>
{% endblock %}
