{% extends "base.html" %}
{% block body %}
    <div class="container content">
      <!-- Example row of columns -->
      <div class="row">
        <br>
	    <div class="span2">
          <img alt='hockytrophy' src='/img/hockytrophy.jpg' />
		  </div>
        <div class="span7">
          <h2>Competiciones</h2>
          <p>En principio el calendario de esta temporada 2016-17 para todas las categorías queda como sigue:
				<table class="table table-hover">
              <thead>
                <tr>
                  <th>FECHA</th>
                  <th>TORNEO</th>
                  <th>LUGAR</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>17 y 18 de septiembre</td>
                  <td><a href="https://www.facebook.com/LionsHockeyFuengirola/" >VI Torneo Internacional Fuengirola</a></td>
                  <td>Los Bolichaes (Fuengirola)</td>
                </tr>
			  				<tr>
                  <td>15 y 16 de octubre</td>
                  <td><a href="https://leverade.com/es/tournament/240299/summary" >I Torneo 3x3 Andalucía</a></td>
                  <td>Hytasa (Sevilla)</td>
                </tr>
                <tr>
                  <td>29 de octubre</td>
                  <td>II Torneo Halloween Sevilla</td>
                  <td>Hytasa (Sevilla)</td>
                </tr>
                <tr>
                  <td>5 de noviembre</td>
                  <td><a href="http://www.ligasurhockeylinea.com/" >Liga Sur - 1ª Sede</a></td>
                  <td>(Lugar por confirmar)</td>
                </tr>
                <tr>
                  <td>26 de noviembre</td>
                  <td><a href="http://www.ligasurhockeylinea.com/" >Liga Sur - 2ª Sede</a></td>
                  <td>(Lugar por confirmar)</td>
                </tr>
                <tr>
                 <td>17 de diciembre</td>
                  <td>VII Torneo Ciuudad de Sevilla</td>
                  <td>Hytasa (Sevilla)</td>
                </tr>
                <tr>
                  <td>Febrero 2017</td>
                  <td><a href="https://leverade.com/es/manager/321/tournaments" >LIGA Andaluza 1ª sede</a></td>
                  <td>(Lugar por confirmar)</td>
                </tr>
								<tr>
                  <td>18 de febrero</td>
                  <td><a href="http://www.ligasurhockeylinea.com/" >Liga Sur - 3ª Sede</a></td>
                  <td>(Lugar por confirmar)</td>
                </tr>
								<tr>
                  <td>Febrero 2017</td>
                  <td><a href="https://leverade.com/es/manager/321/tournaments" >Liga Cantera Andaluza - 1ª Sede</a></td>
                  <td>(Lugar por confirmar)</td>
                </tr>
								<tr>
                  <td>11 de marzo</td>
                  <td><a href="http://www.ligasurhockeylinea.com/" >Liga Sur - 4ª Sede</a></td>
                  <td>(Lugar por confirmar)</td>
                </tr>
								<tr>
                  <td>Marzo 2017</td>
                  <td><a href="https://leverade.com/es/manager/321/tournaments" >LIGA Andaluza 2ª sede</a></td>
                  <td>(Lugar por confirmar)</td>
                </tr>
								<tr>
                  <td>Marzo 2017</td>
                  <td><a href="https://leverade.com/es/manager/321/tournaments" >Liga Cantera Andaluza - 2ª Sede</a></td>
                  <td>(Lugar por confirmar)</td>
                </tr>
								<tr>
                  <td>1 de abril</td>
                  <td><a href="http://www.ligasurhockeylinea.com/" >Liga Sur - 5ª Sede</a></td>
                  <td>(Lugar por confirmar)</td>
                </tr>
								<tr>
                  <td>29 y 30 de abril</td>
                  <td><a href="http://www.ligasurhockeylinea.com/" >Copa Sur - Play-Offs</a></td>
                  <td>Cartagena</td>
                </tr>
									<tr>
                  <td>Julio 2017</td>
                  <td>Torneo Ciudad de Chiclana</td>
                  <td>Chiclana</td>
                </tr>
              </tbody>
            </table>
        </p>
        </div>
        <div class="span3">
          <img alt='logo club' src='/img/inlinesplogo.jpg' />
        </div>
      </div>
      <br>
	  <div class="tabbable"> <!-- Only required for left/right tabs -->
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#tab1" data-toggle="tab">LIGA SUR</a></li>
		<li>
			<a href="#tab2" data-toggle="tab">Liga Andaluza Senior</a></li>
		<li>
			<a href="#tab3" data-toggle="tab">Trofeo Invierno Alevines</a></li>
		<li>
			<a href="#tab4" data-toggle="tab">Torneo "Winter Classic"</a></li>
		<li>
			<a href="#tab5" data-toggle="tab">Torneo Ciudad de Chiclana</a></li>
		<li>
			<a href="#tab6" data-toggle="tab">Dave's Videos</a></li>
	</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab1">
      <div class="row">
			<div class="span7">
			<h2>Temporada 2015-16 - Liga Sur  ¡CAMPEONES!</h2>
			<p>En esa temporada Liga Sur contó con 3 equipos menos Málaga y Mislata se descolgaron de la lista y Don Patín (Granada) recogió a los que quedaron 
				de Roller Murcia y Monachil, quedando tal como fué la clasificación final de la temporada regular como sigue:
				<li>CH Sancti Petri</li>  
				<li>Tiburones de Cartagena</li>
				<li>Sevilla HL</li>
				<li>Fuengirola Lions</li>
				<li>Hockey Club Águilas</li>
				<li>Don Patín HL</li></p>

			<p> Nuestro equipo quedó <strong>Campeón tanto de la liga regular como 
				de los <a href="http://www.ligasurhockeylinea.com/temporadas-anteriores/calendario-y-resultados-2/calendario-y-resultados/calendario-play-offs">
				Play-Offs (Copa Sur)</a></strong>.
				El equipo lo formaron en esa temporada: JOSE MARÍA CARABALLO (entrenador), ALFONSO VERA, JESÚS ÁLVAREZ, PABLO BARÓN, JESÚS DE MULA, 
				CARMELO BIOT, SEGUNDO MERLI,JORGE GONZÁLEZ, JOSE M. PEREZ, CARMELO BIOT,  DEAN NEWCOMB, CARLOS TERRON,  ANTONIO M. JIMENDEZ,  SERGIO MARTINEZ, 
				DAVE PETERSON, JAVIER THEUREAU, JASON FOX Y ÁLVARO MALDONADO.</p>
				<p>
					<a class="btn btn-large" href='http://www.ligasurhockeylinea.com/calendario-y-resultados-2015' type="button">RESULTADOS EN WEB LIGA SUR</a>
           	</p>
						 	<p>
						 <img alt='equipo liga sur' src='/img/equipo liga sur 15-16.jpg'/>
				</p>
				<p>
            <img alt='chiclana campeon hockey copa sur 2016' src='/img/chiclana campeon hockey copa sur 2016.jpg'/>
            </p>
			</div>
				<div class="span5">
					<p>
            <img alt='cartel liga sur' src='/img/cartel liga sur 16.jpg'/>
            </p>
							<p>
						 <img alt='alcalde chiclana copa sur hockey' src='/img/alcalde chiclana copa sur.jpg'/>
				</p>
				</div>
			</div>
     	<hr />
			<div class="row">
			<div class="span7">
			<h2>Temporada 2014-15 - Liga Sur</h2>
			<p>En esa temporada, tras una fase piloto en 2013, Liga Sur contó con 9 equipos:
				<li>Hockey Club Águilas</li>  
				<li>Fuengirola Lions</li>
				<li>Tiburones de Cartagena</li>
				<li>CH Sancti Petri</li>
				<li>Diablos de Mislata</li>
				<li>Sevilla HL</li>
				<li>Roller Murcia</li>
				<li>Málaga HL</li>
				<li>Buhos de Monachil</li></p>
			<p>Quedando la clasificación final en ese mismo orden. Nuestro club quedó en 4º lugar tanto en la temporada regular como en 
			los <a href="http://www.ligasurhockeylinea.com/temporadas-anteriores/calendario-y-resultados-2/calendario-y-resultados/calendario-play-offs">Play-Offs.</a> 
			En esa temporada participaron los siguientes jugadores: JOSE PEREZ CATALAN, DEAN NEWCOMB, PABLO BARON CRESPO, DIEGO DIAZ SANCHEZ, JULIO ROMERO VARGAS, 
			HORACIO SEGUNDO MERLI, MARCO CARRION SALGUERO, ALFONSO VERA ORTEGA, DAVID ROMERO MARTINEZ, AZIZ ES-SAIR MESSAOUD, JULIA SALCINI GÓMEZ, 
			PABLO CABRERA ROSADO, FRANCISCO COLÓN FLORES, DAVE PETERSON, MANUEL GARCÍA TORREJÓN, JESUS ÁLVAREZ AMOR, JOSÉ Mª CARABALLO, J. ANTONIO GAMAZA, 
			ALVARO MALDONADO y	FRAN RENDON.</p>
		  	<p>
            <a class="btn btn-large" href='http://www.ligasurhockeylinea.com/temporadas-anteriores/calendario-y-resultados-2/estadisticas/estadisticas-2' type="button">RESULTADOS EN WEB LIGA SUR</a>
            </p>
				<p>
						 <img alt='equipo liga sur' src='/img/equipo liga sur 14-15.jpg'/>
				</p>
		
			</div>
			
			<div class="span5">
						<p>
            <img alt='cartel liga sur' src='/img/cartel liga sur.jpg'/>
            </p>
					</div>
					</div>
					
			
					</div>
			
			<div class="tab-pane" id="tab2">
			<div class="row">
			<div class="span7">
			<h2>Temporada 2013-14 - Liga senior</h2>
			<p>En esa temporada la liga tan solo con 4 equipos, 
			el <strong>Granada Grizzlies</strong>, el <strong>C.P. Dos Bahías de San Fernando</strong>, el <strong>Piratas de Marbella</strong> 
			y el <strong>Élite de San José </strong>se han descolgado al no poder cumplir las condiciones para este año.
			Tenemos un nuevo equipo formado por diferentes jugadores que hemos fichado de alguno de los anteriores clubes, presentando así 2 buenos equipos, el <strong>Inline Sancti Petri</strong> y el <strong>Hockey Fussion</strong><br>
			Tendremos activo online tanto el marcador como la clasificación y estadísticas en la plataforma web Konkuri, con lo que desde vuestro tablet, smartphone o PC podreis seguir los 
			resultados de cada jornada justo al finalizar cada encuentro.</p>
			<p>
            <a class="btn btn-large" href='http://www.konkuri.com/tournaments/f9768a82dd/standings' type="button">CLASIFICACIÓN SENIOR 13-14</a>
            </p>
			<p>
            <img alt='cartel liga 13-14' src='http://konkuri-upload.s3.amazonaws.com/cache/59/26/59260b7452fae219990e98625bfb5116.jpg'/>
            </p>
			</div>
			<div class="span5">
			<iframe src="http://www.konkuri.com/tournaments/f9768a82dd/get_widget" width="350" height="500" id="konkuri-widget-iframe" class="konkuri-widget-iframe"></iframe><br>
			</div>
			</div>
			<hr />
			<div class="row">
			<div class="span7">
			<h2>Temporada 2012-13 - Liga senior</h2>
			<p>En esa temporada la liga contó con la incorporación de dos nuevos equipos, 
			el <strong>Granada Grizzlies</strong> y el <strong>C.P. Dos Bahías de San Fernando</strong>.
			Pudimos contar al menos en una jornada con las instalaciones de Bahía Sur en San Fernando, además de 
			la pista cubierta de Hytasa para el resto de las jornadas.<br>
			Tendremos activo online tanto el marcador como la clasificación y estadísticas en la plataforma web Konkuri, con lo que desde vuestro tablet, smartphone o PC podreis seguir los 
			resultados de cada jornada justo al finalizar cada encuentro.</p>
			<p>
            <a class="btn btn-large" href='http://www.konkuri.com/tournaments/abb541146a/standings' type="button">CLASIFICACIÓN LIGA ANDALUZA SENIOR</a>
            </p>
			<p><strong>¡¡Campeones de la Liga Andaluza Temporada 2012-13!!</strong>, enhorabuena desde aquí a todos los que han hecho posible que nuestro Club vuelva a estar en primera fila y liderando el Hockey línea en Andalucía.
			</p>
			
			
			</div>
			<div class="span5">
			<iframe src="http://www.konkuri.com/tournaments/abb541146a/get_widget" width="350" height="500" id="konkuri-widget-iframe" class="konkuri-widget-iframe"></iframe><br>
			</div>
			</div>
			</div>
			<div class="tab-pane" id="tab3">
			<p><strong>Trofeo de Invierno Ciudad de Chiclana 2013</strong></p>
			<div class="row">
			<div class="span7">
			<p>Comenzamos con un primer torneo alevín a nivel de andalucía en nuestra pista de La Soledad.
			Organizado por el Club In line Sancti Petri con la colaboración del Comité de Hockey Línea de la Federación Andaluza de Patinaje y la Delegación de Deportes del Ayuntamiento de Chiclana.
			Participan los Clubs andaluces con escuela alevín de:
			San Fernando - C.P. DOS BAHÍAS
			Sevilla - DRAGONS
			Marbella - PIRATAS
			Chiclana - INLINE SANCTI PETRI</p>
			<div class="row" style="center">
			<div class="span1"><p></p>
			</div>
			<div class="span5">
			<p>
            <a class="btn btn-large" href='http://www.konkuri.com/tournaments/1000426ef3' type="button">Ir a nuestro espacio en Konkuri para este torneo</a>
            </p>
			
			 <!-- Button to trigger modal -->
			<a href="#fot235" role="button" class="btn" data-toggle="modal"><img src="/img/torneo-alevines.jpg" alt="Torneo Alevines 02/12/2012"></a>
			<!-- Modal -->
			<div id="fot235" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot235Label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot235Label">Torneo Alevines 02/12/2012</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/torneo-alevines.jpg" alt="Torneo Alevines 02/12/2012"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
			</div>
			<div>
			<br>
			<iframe width='961' height='541' frameborder='3' src='https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-snc7/938_306888789417699_1315403767_n.jpg'></iframe>
			</div>
			</div>
			<div class="span5">
			<iframe src="http://www.konkuri.com/tournaments/1000426ef3/get_widget" width="350" height="540" id="konkuri-widget-iframe" class="konkuri-widget-iframe"></iframe>
			<br>
			</div>
			</div>
			</div>
			<div class="tab-pane" id="tab4">
			<p><strong>Trofeo "Winter Classic" 2013</strong></p>
			<div class="row">
			<div class="span7">
			
			</div>
			<div class="span5">
			<iframe src="http://www.konkuri.com/tournaments/c8fe537dd9/get_widget" width="350" height="540" id="konkuri-widget-iframe" class="konkuri-widget-iframe"></iframe>
			<br>
			</div>
			</div>
			</div>
			<div class="tab-pane" id="tab5">
			<p><strong>IX Torneo de verano Ciudad de Chiclana - 2013</strong></p>
			<div class="row">
			<div class="span5">
			<p>El torneo fue todo un éxito en nivel de juego, deportividad, asistencia, organización, buen tiempo y sobre todo de disfrutar entre amigos de lo que más nos gusta.<br>
			Gracias a todos por vuestra asistencia. A los organizadores, especialmente a Julia Salcini. A los árbitros y jugadores que arbitraron por su paciencia ;-).<br></p>
			<p>En el FB del evento podéis colocar fotos y comentarios.<a href="https://www.facebook.com/events/170503369779719/" ></a></p>
			<p>Dada la especial estructura del torneo, no ha sido posible llevar con el Konkuri las 4 finales. Pero las clasificaciones y estadísticas entre los dos grupos primeros los tenéis aquí:<br>
            <br><a class="btn btn-large" href='http://www.konkuri.com/tournaments/d253ccb1c1' type="button">SIGUE ON-LINE ESTE TORNEO</a><br>
            </p>
			<p>Clasificación final:<br>
			 1º- INLINE SANCTI PETRI - Chiclana<br>
			 2º- SINTRA -Portugal<br>
			 3º- CLUB-HOCKEY CARTAGENA - Cartagena<br>
			 4º- SUMENDI -Vitoria<br>
			 5º- NORTH TEAM - Pais Vasco<br>
			 6º- ALCORCÓN - Madrid<br>
			 7º- MÁLAGA H.L. - Málaga<br>
			 8º- DRAGONS - Sevilla<br>
			</p>
			<p>El trofeo al MVP (goles+asistencias) fue para Ainhoa Merino (Equipo Alcorcón-Madrid) a un punto se quedó Ibon Portularrume.<br>
			El trofeo al equipo menos goleado fue para nuestros porteros Julia Salcini y Álvaro De Mula, aunque tuvieron que compartirlo en trocitos... ;-)<br>
			Fotos aquí:<br>
			<a class="btn btn-large" href='https://plus.google.com/u/0/photos/100668868270905716424/albums' type="button">ALBUMES EN GOOGLE+</a><br><br>
			</p>
			</div>
			<div class="span5">
			 <!-- Button to trigger modal -->
			<a href="#fot237" role="button" class="btn" data-toggle="modal"><img src="/img/verano 2013.png" alt="IX Torneo de verano Ciudad de Chiclana - 2013"></a>
			<!-- Modal -->
			<div id="fot237" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot237Label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot237Label">VII Torneo de verano Ciudad de Chiclana - 2013</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/verano 2013.png" alt="IX Torneo de verano Ciudad de Chiclana - 2013"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
			</div>
			</div>
			<div class="tab-pane" id="tab6">
			<p><strong>Dave's Videos</strong></p>
			<div class="row">
			<div class="span4">
			<iframe src="https://www.facebook.com/video/embed?video_id=10152249044440058" width="640" height="360" frameborder="0"></iframe>
			<p><strong>Inline Shootout.</strong> Peter, Alvaro and I having a spontaneous shootout. 2012-10-06. Duración: 4:36<br></p>
			<iframe src="https://www.facebook.com/video/embed?video_id=10152095959360058" width="640" height="360" frameborder="0"></iframe>
			<p><strong>Inline Practice/2x2 Scrimmage.</strong> Just some messing around with a new camera and video editing software. Scrimmage points were scored by hitting the goal posts or crossbar. Duración: 4:01<br></p>
			</div>
			</div>
			</div>
			</div>
		</div>
	</div>
	<div class="row">
	  <div class="span1">
	  <a href="http://www.xiti.com/xiti.asp?s=296742" title="WebAnalytics" target="_top">
<script type="text/javascript">
<!--
Xt_param = 's=296742&p=competiciones';
try {Xt_r = top.document.referrer;}
catch(e) {Xt_r = document.referrer; }
Xt_h = new Date();
Xt_i = '<img width="80" height="15" border="0" alt="" ';
Xt_i += 'src="http://logv7.xiti.com/bcg.xiti?'+Xt_param;
Xt_i += '&hl='+Xt_h.getHours()+'x'+Xt_h.getMinutes()+'x'+Xt_h.getSeconds();
if(parseFloat(navigator.appVersion)>=4)
{Xt_s=screen;Xt_i+='&r='+Xt_s.width+'x'+Xt_s.height+'x'+Xt_s.pixelDepth+'x'+Xt_s.colorDepth;}
document.write(Xt_i+'&ref='+Xt_r.replace(/[<>"]/g, '').replace(/&/g, '$')+'" title="Internet Audience">');
//-->
</script>
<noscript>
Mesure d'audience ROI statistique webanalytics par <img width="80" height="15" src="http://logv7.xiti.com/bcg.xiti?s=296742&p=competiciones" alt="WebAnalytics" />
</noscript></a>
</div>
	  </div>
    </div>
{% endblock %}