{% extends "base.html" %}
{% block body %}
    <div class="container content">
      <!-- Example row of columns -->
      <div class="row">
        <br>
	    <div class="span2">
          <img alt='hockytrophy' src='/img/hockytrophy.jpg' />
		  </div>
        <div class="span7">
          <h2>Competiciones</h2>
          <p>En principio el calendario de esta temporada 2012-13 para todas las categorías queda como sigue:
				<table class="table table-hover">
              <thead>
                <tr>
                  <th>FECHA</th>
                  <th>TORNEO</th>
                  <th>LUGAR</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>10 Noviembre</td>
                  <td><a href="http://www.konkuri.com/tournaments/abb541146a" >LIGA SENIOR (1ª Jornada)</a></td>
                  <td>Hytasa (Sevilla)</td>
                </tr>
                <tr>
                  <td>2 Diciembre</td>
                  <td><a href="http://www.konkuri.com/tournaments/1000426ef3" >TROFEO DE INVIERNO CIUDAD DE CHICLANA - ALEVÍN</a></td>
                  <td>Pista La Soledad (Chiclana)</td>
                </tr>
                <tr>
                  <td>15 Diciembre</td>
                  <td><a href="http://www.konkuri.com/tournaments/de457b5ad1" >TROFEO DE NAVIDAD - SENIOR</a></td>
                  <td>Hytasa (Sevilla)</td>
                </tr>
                <tr>
                  <td>16 Diciembre</td>
                  <td><a href="http://www.konkuri.com/tournaments/ec9d1d8068" >TROFEO DE NAVIDAD - ALEVÍN</a></td>
                  <td>Hytasa (Sevilla)</td>
                </tr>
                <tr>
                  <td>12 Enero</td>
                  <td><a href="http://www.konkuri.com/tournaments/abb541146a" >LIGA SENIOR (2ª Jornada)</a></td>
                  <td>Hytasa (Sevilla)</td>
                </tr>
                <tr>
                  <td>19-20 Enero</td>
                  <td><a href="http://www.konkuri.com/tournaments/c8fe537dd9" >Winter Classic - Chiclana</a></td>
                  <td>La Soledad(Chiclana)</td>
                </tr>
                <tr>
                  <td>9 Febrero</td>
                  <td>Camp. Andalucía INFANTIL</td>
                  <td>Hytasa (Sevilla)</td>
                </tr>
                <tr>
                  <td>16 Febrero</td>
                  <td>LIGA SENIOR (3ª Jornada)</td>
                  <td>Hytasa (Sevilla)</td>
                </tr>
                <tr>
                  <td>16 Marzo</td>
                  <td>LIGA SENIOR (4ª Jornada)</td>
                  <td>Hytasa (Sevilla)</td>
                </tr>
                <tr>
                  <td>6 Abril</td>
                  <td>LIGA SENIOR (5ª Jornada)</td>
                  <td>Hytasa (Sevilla)</td>
                </tr>
                <tr>
                  <td>? Mayo</td>
                  <td>LIGA SENIOR (6ª Jornada)</td>
                  <td>? Bahía Sur (San Fernando)</td>
                </tr>
                <tr>
                  <td>? Junio</td>
                  <td>LIGA SENIOR (7ª Jornada)</td>
                  <td>? Bahía Sur (San Fernando)</td>
                </tr>
              </tbody>
            </table>
        </p>
        </div>
        <div class="span3">
          <img alt='logo club' src='/img/inlinesplogo.jpg' />
        </div>
      </div>
      <br>
	  <div class="tabbable"> <!-- Only required for left/right tabs -->
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#tab1" data-toggle="tab">Liga Andaluza Senior</a></li>
		<li>
			<a href="#tab2" data-toggle="tab">Trofeo Invierno Alevines</a></li>
		<li>
			<a href="#tab3" data-toggle="tab">Torneo "Winter Classic"</a></li>
		<li>
			<a href="#tab4" data-toggle="tab">Torneo "Ciudad de Chiclana"</a></li>
		<li>
			<a href="#tab5" data-toggle="tab">Dave's Videos</a></li>
	</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab1">
			<div class="row">
			<div class="span5">
			<p>Esta temporada contamos con una buena noticia, dos equipos más que se han sumado a la Liga Senior Andaluza, 
			el <strong>Granada Grizzlies</strong> y el <strong>C.P. Dos Bahías de San Fernando</strong>.
			A falta de confirmar la disponibilidad de las instalaciones de Bahia Sur en San Fernando, solo se dispondrá de 
			la pista cubierta de Hytasa para las diferentes jornadas.<br>
			Tendremos activo online tanto el marcador como la clasificación y estadísticas en la plataforma web Konkuri, con lo que desde vuestro tablet, smartphone o PC podreis seguir los 
			resultados de cada jornada justo al finalizar cada encuentro.
			<p>
            <a class="btn btn-large" href='http://www.konkuri.com/tournaments/abb541146a/standings' type="button">CLASIFICACIÓN LIGA ANDALUZA SENIOR</a>
            </p>
			</div>
			<div class="span7">
			<iframe src="http://www.konkuri.com/tournaments/abb541146a/get_widget" width="400" height="550" id="konkuri-widget-iframe" class="konkuri-widget-iframe"></iframe><br>
			</div>
			</div>
			</div>
			<div class="tab-pane" id="tab2">
			<p><strong>Trofeo de Invierno Ciudad de Chiclana</strong></p>
			<div class="row">
			<div class="span7">
			<p>Comenzamos con un primer torneo alevín a nivel de andalucía en nuestra pista de La Soledad.
			Organizado por el Club In line Sancti Petri con la colaboración del Comité de Hockey Línea de la Federación Andaluza de Patinaje y la Delegación de Deportes del Ayuntamiento de Chiclana.
			Participan los Clubs andaluces con escuela alevín de:
			San Fernando - C.P. DOS BAHÍAS
			Sevilla - DRAGONS
			Marbella - PIRATAS
			Chiclana - INLINE SANCTI PETRI</p>
			<div class="row" style="center">
			<div class="span1"><p></p>
			</div>
			<div class="span5">
			<p>
            <a class="btn btn-large" href='http://www.konkuri.com/tournaments/1000426ef3' type="button">Ir a nuestro espacio en Konkuri para este torneo</a>
            </p>
			
			 <!-- Button to trigger modal -->
			<a href="#fot235" role="button" class="btn" data-toggle="modal"><img src="/img/torneo-alevines.jpg" alt="Torneo Alevines 02/12/2012"></a>
			<!-- Modal -->
			<div id="fot235" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot235Label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot235Label">Torneo Alevines 02/12/2012</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/torneo-alevines.jpg" alt="Torneo Alevines 02/12/2012"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
			</div>
			<div>
			<br>
			<iframe width='961' height='541' frameborder='3' src='https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-snc7/938_306888789417699_1315403767_n.jpg'></iframe>
			</div>
			</div>
			<div class="span5">
			<iframe src="http://www.konkuri.com/tournaments/1000426ef3/get_widget" width="350" height="540" id="konkuri-widget-iframe" class="konkuri-widget-iframe"></iframe>
			<br>
			</div>
			</div>
			</div>
			<div class="tab-pane" id="tab3">
			<p><strong>Trofeo "Winter Classic"</strong></p>
			<div class="row">
			<div class="span7">
			<p>El 19 y 20 de enero tenmos el Winter Classic, Alevin y Senior. Esta temporada 2013 con la asistencia de los Clubes de:
			Sevilla - DRAGONS
			Rota - BULLDOG
			Chiclana - INLINE SANCTI PETRI</p>
			<div class="row" style="center">
			<div class="span1"><p></p>
			</div>
			<div class="span5">
			<p>
            <a class="btn btn-large" href='http://www.konkuri.com/tournaments/c8fe537dd9' type="button">Ir a nuestro espacio en Konkuri para este torneo</a>
            </p>
			
			 <!-- Button to trigger modal -->
			<a href="#fot236" role="button" class="btn" data-toggle="modal"><img src="/img/winterclassic2013.jpg" alt="Torneo Winter Clasic 2013"></a>
			<!-- Modal -->
			<div id="fot236" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot236Label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot236Label">Torneo Winter Clasic 2013</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/winterclassic2013.jpg" alt="Torneo Winter Clasic 2013"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
			</div>
			<div>
			<br>
			</div>
			</div>
			<div class="span5">
			<iframe src="http://www.konkuri.com/tournaments/c8fe537dd9/get_widget" width="350" height="540" id="konkuri-widget-iframe" class="konkuri-widget-iframe"></iframe>
			<br>
			</div>
			</div>
			</div>
			<div class="tab-pane" id="tab4">
			<p><strong>Torneo de verano "Ciudad de Chiclana"</strong></p>
			<div class="row">
			<div class="span4">
			</div>
			</div>
			</div>
			<div class="tab-pane" id="tab5">
			<p><strong>Dave's Videos</strong></p>
			<div class="row">
			<object width="640" height="360"><param name="allowfullscreen" value="true"></param><param name="movie" value="http://www.facebook.com/v/10152249044440058"></param><embed src="http://www.facebook.com/v/10152249044440058" type="application/x-shockwave-flash" allowfullscreen="1" width="640" height="360"></embed></object>
			<div class="span4">
			</div>
			</div>
			</div>
		</div>
	</div>
	<div class="row">
	  <div class="span1">
	  <a href="http://www.xiti.com/xiti.asp?s=296742" title="WebAnalytics" target="_top">
<script type="text/javascript">
<!--
Xt_param = 's=296742&p=competiciones';
try {Xt_r = top.document.referrer;}
catch(e) {Xt_r = document.referrer; }
Xt_h = new Date();
Xt_i = '<img width="80" height="15" border="0" alt="" ';
Xt_i += 'src="http://logv7.xiti.com/bcg.xiti?'+Xt_param;
Xt_i += '&hl='+Xt_h.getHours()+'x'+Xt_h.getMinutes()+'x'+Xt_h.getSeconds();
if(parseFloat(navigator.appVersion)>=4)
{Xt_s=screen;Xt_i+='&r='+Xt_s.width+'x'+Xt_s.height+'x'+Xt_s.pixelDepth+'x'+Xt_s.colorDepth;}
document.write(Xt_i+'&ref='+Xt_r.replace(/[<>"]/g, '').replace(/&/g, '$')+'" title="Internet Audience">');
//-->
</script>
<noscript>
Mesure d'audience ROI statistique webanalytics par <img width="80" height="15" src="http://logv7.xiti.com/bcg.xiti?s=296742&p=competiciones" alt="WebAnalytics" />
</noscript></a>
</div>
	  </div>
    </div>
{% endblock %}