{% extends "base.html" %}
{% block body %}
    <div class="container content">
      <!-- Example row of columns -->
      <div class="row">
	  <br>
        <div class="span1">
          <img alt='hockey man' src='/img/playing-hockey-red.jpg' />
		</div>
		<div class="span7">
		  <h2>Escuelas deportivas</h2>
          <p>En colaboración con la Delegación de Deportes del Ayuntamiento de Chiclana gestionamos las escuelas de patinaje y 
		  hockey en categorías benjamín e infantil, de 6 a 14 años tanto femenino como masculino. Las clases se imparten los miércoles 
		  y viernes de 17:00 a 19:00 en la pista de hockey de La Soledad, junto al colegio público SanctiPteri. Contamos este año con 
		  la colaboración de dos nuevos monitores, Martina Cabrera y Pablo Barón. Ambos jugadores de nuestro club, que estarán coordinados 
		  por José Fernández Meni (INEF), jugador y nuevo entrenador para esta temprada 2012-13. Conforme se vayan ampliando grupos podremos 
		  ofrecer más horarios y diversificación de grupos por edades o sexo.</p>
        </div>
		<div>
			<ul class="thumbnails">
		      <li class="span2">
               <a class="thumbnail" href="/img/CARTEL-2012-13-A.jpg" target="_blank"><img src="/img/CARTEL-2012-13-A.jpg" alt="Cartel clases hockey temporada 2012-13"></a>
              </li>
			  <li class="span2">
               <a class="thumbnail" href="/img/CARTEL-2012-13-B.jpg" target="_blank"><img src="/img/CARTEL-2012-13-B.jpg" alt="Cartel clases patinaje temporada 2012-13"></a>
              </li>
			</ul>
		</div>
      </div>
	  <hr />
	<div class="tabbable"> <!-- Only required for left/right tabs -->
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#tab1" data-toggle="tab">Equipación</a></li>
		<li>
			<a href="#tab2" data-toggle="tab">Condiciones</a></li>
		<li>
			<a href="#tab3" data-toggle="tab">Monitores</a></li>
	</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab1">
			<p>¿Qué necesito?</p>
			<p>Para empezar unos patines en línea, tipo fitness o de hochey-línea. Coderas, rodilleras y casco son imprescindibles. 
			Protección espécifica para las muñecas es opcional. Si es para iniciarse en el hockey línea será además imprescindible 
			el stick, espinilleras, guantes de hiockey y casco con protección facial o rejilla.
			</div>
			<div class="tab-pane" id="tab2">
			<p>Condiciones y precio</p>
			</div>
			<div class="tab-pane" id="tab3">
			<p>Monitores</p>
			</div>
		</div>
	</div>
    </div>
{% endblock %}
