{% extends "base.html" %}
{% block body %}
    <div class="container content">
      <!-- Example row of columns -->
      <div class="row">
	  <br>
        <div class="span1">
          <img alt='hockey man' src='/img/playing-hockey-red.jpg' />
		</div>
		<div class="span7">
		  <h2>Escuelas deportivas</h2>
          <p>En colaboración con la Delegación de Deportes del Ayuntamiento de Chiclana gestionamos las escuelas de patinaje y 
		  hockey en categorías benjamín e infantil, de 6 a 14 años tanto femenino como masculino. Las clases se imparten los miércoles 
		  y viernes de 17:00 a 19:00 en la pista de hockey de La Soledad, junto al colegio público SanctiPteri. Contamos este año con 
		  la colaboración de dos nuevos monitores, <strong>Martina Cabrera y Pablo Barón</strong>. Ambos jugadores de nuestro club, que estarán coordinados 
		  por <strong>José Fernández Meni (INEF)</strong>, jugador y nuevo entrenador para esta temprada 2012-13. Conforme se vayan ampliando grupos podremos 
		  ofrecer más horarios y diversificación de grupos por edades o sexo.</p>
        </div>
		<div>
			<ul class="thumbnails">
		      <li class="span2">
               <a class="thumbnail" href="/img/CARTEL-2012-13-A.jpg" target="_blank"><img src="/img/CARTEL-2012-13-A.jpg" alt="Cartel clases hockey temporada 2012-13"></a>
              </li>
			  <li class="span2">
               <a class="thumbnail" href="/img/CARTEL-2012-13-B.jpg" target="_blank"><img src="/img/CARTEL-2012-13-B.jpg" alt="Cartel clases patinaje temporada 2012-13"></a>
              </li>
			</ul>
		</div>
      </div>
	  <hr />
	<div class="tabbable"> <!-- Only required for left/right tabs -->
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#tab1" data-toggle="tab">Equipación</a></li>
		<li>
			<a href="#tab2" data-toggle="tab">Condiciones</a></li>
		<li>
			<a href="#tab3" data-toggle="tab">Monitores</a></li>
	</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab1">
			<div class="row">
			<div class="span6">
			<p><strong>¿Qué necesito?</strong></p>
			<p>Para empezar unos patines en línea, tipo fitness o de hochey-línea. Si no tienes nada lo mejor es irse a Decathlon y comprarse 
			los patines en línea de su marca. La relación calidad/precio está bien y nos servirán para varias fases posteriores. 
			Llevan un freno de goma en la parte posterior de uno de los patines que funciona levantando la punta del pie. 
			Ojo, no comprar patines con la guía (la parte que sujeta las ruedas) de plástico, suelen deformarse rápidamente.
			También hay que comprar un kit de protecciones que incluyan rodilleras, coderas y protectores de manos y muñecas, realmente imprescindibles. 
			Si tenemos un casco de bici lo podemos usar en principio, y si no, podremos comprarnos uno allí, por ejemplo uno barato de patinaje o monopatín, 
			<strong>pero hay que tener uno.</strong> Si te caes mucho y te da miedo tu rabadilla y cadera puedes comprar un pantalón protector, para monopatín y 
			patinaje agresivo. Son muy baratos y dan una protección razonable para patinaje. Llevan protecciones, en los laterales y la rabadilla, 
			montadas sobre un pantalón corto hecho de tejido elástico.
			</div>
			<div class="span6">
			<ul class="thumbnails">
		      <li class="span2">
               <a class="thumbnail" href="/img/skate.jpg" target="_blank">
			   <img src="/img/skate.jpg" alt="patin de hockey">
			   <h4>Patín de hockey</h4>
					<p><small>Especifico para la práctica del hockey en línea, da giros rápidos, muy ligero y de mayor coste. Siempre con cierre de cordones.</small></p></a>
              </li>
			  <li class="span2">
               <a class="thumbnail" href="/img/skate.png" target="_blank">
			   <img src="/img/skate.png" alt="patin de calle o freestyle">
			   <h4>Patín de calle o freestyle</h4>
					<p><small>Más resistencia en diferentes pavimentos, con tacón de freno, mucha variedad y sitios donde comprar. Cierre de ajuste rápido.</small></p></a>
              </li>
			  <li class="span2">
               <a class="thumbnail" href="/img/kitchild.jpg" target="_blank">
			   <img src="/img/kitchild.jpg" alt="kit protecciones para peques"><br>
			   <h4>Kit iniciación</h4>
					<p><small>Un juego de caderas, coderas, casco y espinilleras muy básico lo podemos encontrar por bajo precio en multitud de comercios.</small></p></a>
              </li>
			</ul>
			</div>
			</div>
			</div>
			<div class="tab-pane" id="tab2">
			<p>Condiciones y precio</p>
			</div>
			<div class="tab-pane" id="tab3">
			<p>Monitores</p>
			</div>
		</div>
	</div>
    </div>
{% endblock %}
