{% extends "base.html" %}
{% block body %}
    <div class="container content">
      <!-- Example row of columns -->
      <div class="row">
	  <br>
        <div class="span1">
          <img alt='hockey man' src='/img/playing-hockey-red.jpg' />
		</div>
		<div class="span7">
		  <h2>Escuelas deportivas</h2>
          <p>En colaboración con la Delegación de Deportes del Ayuntamiento de Chiclana gestionamos las escuelas de patinaje y 
		  hockey en categorías benjamín e infantil, de 6 a 14 años tanto femenino como masculino. Las clases se imparten los miércoles 
		  y viernes de 17:00 a 19:00 en la pista de hockey de La Soledad, junto al colegio público SanctiPteri. Contamos este año con 
		  la colaboración de dos nuevos monitores, <strong>Martina Cabrera Rosado y Pablo Barón Crespo</strong>. Ambos jugadores de nuestro club, que estarán coordinados 
		  por <strong>José Fernández Meni (INEF)</strong>, jugador y nuevo entrenador para el equipo senior para esta temporada 2012-13. Conforme se vayan ampliando grupos podremos 
		  ofrecer más horarios y diversificación de grupos por edades o sexo.</p>
        </div>
		<div>
			<ul class="thumbnails">
		      <li class="span2">
               <a class="thumbnail" href="/img/CARTEL-2012-13-A.jpg" target="_blank"><img src="/img/CARTEL-2012-13-A.jpg" alt="Cartel clases hockey temporada 2012-13"></a>
              </li>
			  <li class="span2">
               <a class="thumbnail" href="/img/CARTEL-2012-13-B.jpg" target="_blank"><img src="/img/CARTEL-2012-13-B.jpg" alt="Cartel clases patinaje temporada 2012-13"></a>
              </li>
			</ul>
		</div>
      </div>
	  <hr />
	<div class="tabbable"> <!-- Only required for left/right tabs -->
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#tab1" data-toggle="tab">Equipación</a></li>
		<li>
			<a href="#tab2" data-toggle="tab">Condiciones</a></li>
		<li>
			<a href="#tab3" data-toggle="tab">Monitores</a></li>
			<li>
			<a href="#tab4" data-toggle="tab">Instalaciones</a></li>
	</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab1">
			<div class="row">
			<div class="span5">
			<p><strong>¿Qué necesito?</strong></p>
			<p>Para empezar unos patines en línea, tipo freestyle o de hochey-línea. Si no tienes nada lo mejor es irse a Decathlon y comprarse 
			los patines en línea de su marca. La relación calidad/precio está bien y nos servirán para varias fases posteriores. 
			Llevan un freno de goma en la parte posterior de uno de los patines que funciona levantando la punta del pie. 
			Ojo, no comprar patines con la guía (la parte que sujeta las ruedas) de plástico, suelen deformarse rápidamente.
			También hay que comprar un kit de protecciones que incluyan rodilleras, coderas y protectores de manos y muñecas, realmente imprescindibles. 
			Si tenemos un casco de bici lo podemos usar en principio, y si no, podremos comprarnos uno allí, por ejemplo uno barato de patinaje o monopatín, 
			<strong>pero hay que tener uno.</strong> Si te caes mucho y te da miedo tu rabadilla y cadera puedes comprar un pantalón protector, para monopatín y 
			patinaje agresivo. Son muy baratos y dan una protección razonable para patinaje. Llevan protecciones, en los laterales y la rabadilla, 
			montadas sobre un pantalón corto hecho de tejido elástico.
			</div>
			<div class="span7">
			<ul class="thumbnails">
			  <li class="span2">
               <a class="thumbnail" href="/img/skate.jpg" target="_blank">
			   <img src="/img/skate.jpg" alt="patin de hockey"><br>
			   <h4>Patín de hockey</h4><br>
					<p><small>Especifico para la práctica del hockey en línea, da giros rápidos, muy ligero y de mayor coste. 
					Siempre con cierre de cordones.</small></p></a>
              </li>
			  <li class="span2">
               <a class="thumbnail" href="/img/skate.png" target="_blank">
			   <img src="/img/skate.png" alt="patin de calle o freestyle"><br>
			   <h4>Patín de calle</h4><br>
					<p><small>Más resistencia en diferentes pavimentos, con tacón de freno, mucha variedad y sitios donde comprar. 
					Cierre de ajuste rápido.</small></p></a>
              </li>
			  <li class="span3">
               <a class="thumbnail" href="/img/kitchild.jpg" target="_blank">
			   <img src="/img/kitchild.jpg" alt="kit protecciones para peques">
			   <h4>Kit iniciación</h4>
					<p><small>Un juego básico de caderas, coderas, casco y muñequeras lo podemos encontrar por bajo precio 
					en multitud de comercios.</small></p></a>
              </li>
			  
			  <li class="span2">
               <a class="thumbnail" href="/img/hockeyhelmet.png" target="_blank">
			   <img src="/img/hockeyhelmet.png" alt="casco para hockey">
			   <h4>Casco de hockey</h4><br>
					<p><small>El casco es obligatorio en cualquier caso, con rejilla si es para hockey y tienes menos de 18 años.
					Búscalo mejor por internet si es de hockey, para patinaje lo encuentras en comercios de la zona.</small></p></a>
              </li>
			  <li class="span2">
               <a class="thumbnail" href="/img/Hockey_Sticks_and_Puck.jpg" target="_blank">
			   <img src="/img/Hockey_Sticks_and_Puck.jpg" alt="Sticks y pastilla">
			   <h4>Sticks y pastilla</h4><br>
					<p><small>Los sticks o palos de hockey línea son de pala rectangular y algo curvada (para zurdos o diestros). Para 
					iniciación suelen tener la pala de plástico y palo de madera. El puck o pastilla es un disco fabricado con varios 
					plásticos especiales.</small></p></a>
              </li>
			  <li class="span3">
               <a class="thumbnail" href="/img/kithockey.jpg" target="_blank">
			   <img src="/img/kithockey.jpg" alt="kit protecciones para hockey">
			   <h4>Kit hockey</h4>
					<p><small>En el kit básico para hockey tenemos las espinillereas (incluyen rodilleras), y los guantes específicos. 
					Para esto es mejor la compra por internet. Pregunta a tu monitor</small></p></a>
              </li>
			</ul>
			</div>
			</div>
			</div>
			<div class="tab-pane" id="tab2">
			<p><strong>Condiciones y precio</strong></p>
			<div class="span5">
			</div>
			</div>
			<div class="tab-pane" id="tab3">
			<p><strong>Monitores</strong></p>
			<div class="row">
			<div class="span2">
             <img src='/img/userhockyman.jpg' class="img-circle" alt='user'/>
		     </div>
		      <div class="span2">
		     <h4>Martina Cabrera Rosado</h4>
              <p>Jugadora federada en el Club Inline Sancti Petri desde...</p>
              <ul class="thumbnails">
					<li class="span1">
					<p><a class="thumbnail" href="https://www.facebook.com/martina.cabrera.0703" target="_blank">
					<img src="/img/facebook-logo.png" alt="Facebook"></a></p>
					</li>
					</ul>
             </div>
             <div class="span2">
              <img src='/img/userhockyman.jpg' class="img-circle" alt='user' />
		      </div>
		      <div class="span2">
		      <h4>Pablo Barón Crespo</h4>
              <p>Jugador federado en el Club Inline Sancti Petri desde...</p>
               <ul class="thumbnails">
					<li class="span1">
					<p><a class="thumbnail" href="https://www.facebook.com/pablo.baroncrespo" target="_blank">
					<img src="/img/facebook-logo.png" alt="Facebook"></a></p>
					</li>
					</ul>
                </div>
				<div class="span2">
				<img src='/img/userhockyman.jpg' class="img-circle" alt='user'/>
				</div>
				<div class="span2">
				<h4>José Fernández Meni</h4>
				<p>Jugador federado en el Club Inline Sancti Petri desde...</p>
					<ul class="thumbnails">
					<li class="span1">
					<p><a class="thumbnail" href="https://www.facebook.com/jose.fernandezmeni" target="_blank">
					<img src="/img/facebook-logo.png" alt="Facebook"></a></p>
					</li>
					</ul>
				</div>
			</div>
			</div>
			<div class="tab-pane" id="tab4">
			<p><strong>Nuestra pista</strong></p>
			<div class="row">
			<div class="span4">
							<p>La Pista se Hockey de Chiclana está muy cerca del Colegio Público Al-Andalus.
							Está diseñada en todos sus aspectos para la práctica del patinaje y del hockey en línea. Contamos con almacén, vestuario y un aseo, 
							quedando aun pendiente por parte del Ayuntamiento el finalizar el proyecto original con un segundo vestuario y aseo.</p>
			</div>
			<div class="span4">
								<p><iframe width="590" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=36.417201,+-6.161362+(Pista+de+Hockey)&amp;num=1&amp;t=h&amp;hl=es&amp;ie=UTF8&amp;source=embed&amp;ll=36.418300,-6.163000&amp;spn=0.006600,0.009610&amp;z=18&amp;iwloc=A&amp;output=embed">
								</iframe>
								<br /><small>
								<a href="https://maps.google.com/maps?q=36.417201,+-6.161362+(Pista+de+Hockey)&amp;num=1&amp;t=h&amp;hl=es&amp;ie=UTF8&amp;source=embed&amp;ll=36.418300,-6.163000&amp;spn=0.006631,0.009645&amp;z=18&amp;iwloc=A" style="color:#0000FF;text-align:left">Ver mapa más grande</a>
								</small>
								</p>
			</div>
			</div>
			</div>
		</div>
	</div>
    </div>
{% endblock %}
