{% extends "base.html" %}
{% block body %}
	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<div class='hero-unit ac'>
      <div class='container'>
	  <br>
        <h1>Patinaje y Hockey línea en Chiclana desde 1997</h1>
        <div class='big-media'>
          <img alt='Conoce gente, juega partidos y diviertete con nosotros.' height='340' src='/img/{{ header_image }}' width='940' />
        </div>
      </div>
    </div>
	


    <div class="container content">

      <!-- Example row of columns -->
	  <div class='row'>
        <div class='span8'>
          <h1 class='lead'>
            <strong>Ven con nosotros</strong> y desarrolla tu coordinación, habilidad técnica en el patinaje, 
			conoce nuevos amigos y disfruta de un deporte de acción.
          </h1>
        </div>
        <div class='span4'>
          <p class='ac'>
            <a class='btn btn-primary' href='/contacta/' style='width:80%' title='Apuntate a jugar con nosotros'>
              <strong>
                ¡ APÚNTATE !
              </strong>
            </a>
          </p>
          <h3 class='ac' style='line-height: 1;'>
            Iniciación al patinaje
            <br />
            <small>
              desde 5 años
            </small>
          </h3>
        </div>
      </div>
      <hr />
	  <br>
	  <div class="row">
	  <div class="span8">
      <div class="row">
	  <div class="span1">
          <img alt='hockey man' src='/img/hockytrophy.jpg' />
		  </div>
		  <div class="span3">
		  <h2>Liga Andaluza y Torneos</h2>
          <p>En la pasada temporada 2015-16 quedamos Campeones de <a href="http://www.ligasurhockeylinea.com/">Liga Sur</a>, liga inter-autonómica organizada por la Federación Andaluza de Patinaje 
            -FAP- y la Federación Murciana, 
		  esta temporada presentamos 2 equipos...</p>
          <p><a class="btn btn-info" href="/competiciones/">Ver más &raquo;</a></p>
        </div>
        <div class="span1">
          <img alt='hockey man' src='/img/playing-hockey-red.jpg' />
		  </div>
		  <div class="span3">
		  <h2>Escuelas deportivas</h2>
          <p>En colaboración con la Delegación de Deportes del Ayuntamiento de Chiclana gestionamos las escuelas de patinaje y 
		  hockey en categorías benjamín e infantil, de 5 a 14 años tanto femenino como masculino...</p>
          <p><a class="btn btn-info" href="/escuelas/">Ver más &raquo;</a></p>
        </div>
        
	   </div>
        
	  
      <div class="row">
	  <div class="span1">
          <img alt='hockey man' src='/img/playing-hockey-blue.jpg' />
		  </div>
		  <div class="span3">
		  <h2>Equipo Senior</h2>
          <p>Jugamos en ligas y torneos federativos desde el 98, contando con excelentes jugadores que han participado puntualmente 
		  en liga élite nacional con equipos de Madrid, Galicia o Castilla-León...</p>
          <p><a class="btn btn-info" href="/quienes-somos/">Ver más &raquo;</a></p>
       </div>
	   
        <div class="span1">
          <img alt='hockey man' src='/img/skater1.jpg' />
		  </div>
		  <div class="span3">
		  <h2>Patinaje adultos</h2>
          <p>Queremos este año continuar con la promoción de el patinaje de adultos, ideal para mantenernos en forma y conocer gente nueva y dinámica...</p>
          <p><a class="btn btn-info" href="/escuelas/">Ver más &raquo;</a></p>
        </div>
		</div>
		<div class="row">
        <div class="span1">
          <img alt='hockey man' src='/img/dollyskate.jpg' />
		  </div>
		  <div class="span3">
		  <h2>Equipo femenino</h2>
          <p>Otro objetivo sigue siendo esta temporada es ampliar el número de jugadoras hasta poder constituir un equipo femenino para competiciones oficiales...</p>
          <p><a class="btn btn-info" href="/escuelas/">Ver más &raquo;</a></p>
       </div>
        <div class="span1">
          <img alt='hockey man' src='/img/blue-hocky-man-ejecutive.jpg' />
		  </div>
		  <div class="span3">
		  <h2>Apóyanos</h2>
          <p>Desde nuestros comienzos hemos tenido el apoyo de empresas como Vipren o instituciones como el Patronato de Deportes...</p>
          <p><a class="btn btn-info" href="/quienes-somos/">Ver más &raquo;</a></p>
        </div>
      </div>
	    
		</div>
		<div class="span4">
		<div class="span4">

		  <div class="fb-like-box" data-href="https://www.facebook.com/inlinesanctipetri" 
		  data-width="295" 
		  data-height="620" 
		  data-colorscheme="light" 
		  data-show-faces="true" 
		  data-header="true" 
		  data-stream="true" 
		  data-show-border="true">
		  </div>
	  </div>
	  </div>
		</div>
		
		
      <hr />
	  <br>
	  <div class="row">
	  <div class="span1">
	  <a href="http://www.xiti.com/xiti.asp?s=296742" title="WebAnalytics" target="_top">
<script type="text/javascript">
<!--
Xt_param = 's=296742&p=index';
try {Xt_r = top.document.referrer;}
catch(e) {Xt_r = document.referrer; }
Xt_h = new Date();
Xt_i = '<img width="80" height="15" border="0" alt="" ';
Xt_i += 'src="http://logv7.xiti.com/bcg.xiti?'+Xt_param;
Xt_i += '&hl='+Xt_h.getHours()+'x'+Xt_h.getMinutes()+'x'+Xt_h.getSeconds();
if(parseFloat(navigator.appVersion)>=4)
{Xt_s=screen;Xt_i+='&r='+Xt_s.width+'x'+Xt_s.height+'x'+Xt_s.pixelDepth+'x'+Xt_s.colorDepth;}
document.write(Xt_i+'&ref='+Xt_r.replace(/[<>"]/g, '').replace(/&/g, '$')+'" title="Internet Audience">');
//-->
</script>
<noscript>
Mesure d'audience ROI statistique webanalytics par <img width="80" height="15" src="http://logv7.xiti.com/bcg.xiti?s=296742&p=index" alt="WebAnalytics" />
</noscript></a>
</div>
	  </div>
	  <br>


	</div>
{% endblock %}