<!DOCTYPE html>
<html lang="es"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Inicio - {{ site_name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Web informativa del club deportivo Inline Sacti Petri. Club de hockey línea de Chiclana, Cádiz">
    <meta name="author" content="Jesus de Mula">
	
    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/sanctipetri.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">
<img id="logo_club" alt='Logo Club' src='/img/logoW.jpg' />{{ site_name }}</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Inicio</a></li>
              <li><a href="#about">Quienes somos</a></li>
              <li><a href="#contact">Contacto</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	

	<div class='hero-unit ac'>
      <div class='container'>
	  <br>
        <h1>Patinaje y Hockey línea en Chiclana desde 1997</h1>
        <div class='big-media'>
          <img alt='Conoce gente, juega partidos y diviertete con nosotros.' height='340' src='/img/{{ header_image }}' width='940' />
        </div>
      </div>
    </div>
	


    <div class="container content">

      <!-- Example row of columns -->
	  <div class='row'>
        <div class='span8'>
          <h1 class='lead'>
            <strong>Ven con nosotros</strong> y desarrolla tu coordinación, habilidad técnica en el patinaje, 
			conoce nuevos amigos y disfruta de un deporte de acción.
          </h1>
        </div>
        <div class='span4'>
          <p class='ac'>
            <a class='btn btn-primary huge success' href='/#' style='width:80%' title='Apuntate a jugar con nosotros'>
              <strong>
                ¡ APÚNTATE !
              </strong>
            </a>
          </p>
          <h3 class='ac' style='line-height: 1;'>
            100% GRATIS
            <br />
            <small>
              para las 4 primeras clases
            </small>
          </h3>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="span1">
          <img alt='hockey man' src='/img/playing-hockey-red.jpg' />
		  </div>
		  <div class="span3">
		  <h2>Escuelas deportivas</h2>
          <p>En colaboración con el Patronato de Deportes del Ayuntamiento de Chiclana gestionamos las escuelas de patinaje y 
		  hockey en las categorías benjamín e infantil, de 6 a 11 años tanto femenino como masculino. Las clases se imparten 
		  en la pista de hockey y patinaje de La Soledad, por nuestros monitores en horario de tarde. Un eporte ideal para mejorar 
		  la psicomotrizidad, coordinación y desarrollo muscular equilibrado.</p>
          <p><a class="btn btn-info" href="#">Ver más &raquo;</a></p>
        </div>
        <div class="span1">
          <img alt='hockey man' src='/img/playing-hockey-blue.jpg' />
		  </div>
		  <div class="span3">
		  <h2>Equipo Senior</h2>
          <p>Jugamos en liga federada desde el 98, contando con excelentes jugadores que han participado puntualmente 
		  en liga élite nacional con equipos de Madrid, Galicia o Castilla-León.</p>
          <p><a class="btn btn-info" href="#">Ver más &raquo;</a></p>
       </div>
        <div class="span1">
          <img alt='hockey man' src='/img/hockytrophy.jpg' />
		  </div>
		  <div class="span3">
		  <h2>Liga Andaluza y Torneos</h2>
          <p>En la pasada temporada 2011-12 participamos en la liga autonómica organizada por la Federación Andaluza de Patinaje -FAP-, 
		  quedando subcampeones tanto en la categoría senior y como en la benjamín. El Torneo "Ciudad de Chiclana" que organizamos cada 
		  verano va por su 7ª edición, contando en su última edición con equipos de alto nivel como el MolinaSport de Canarias, el Fénix de Madrid, o el Sintra de Portugal.</p>
          <p><a class="btn btn-info" href="#">Ver más &raquo;</a></p>
        </div>
      </div>
	</div>

    <footer>
      <div class='container'>
        <div class='row'>
          <div class='span8'>
            <div class='row'>
              <div class='span2'>
                <h4>Escuelas y equipo</h4>
                <ul class='unstyled'>
                  <li>
                    <a href='/'>Inicio</a>
                  </li>
                  <li>
                    <a href='/why'>¿Quiénes somos?</a>
                  </li>
                  <li>
                    <a href='/tour'>Feature Tour</a>
                  </li>
                  <li>
                    <a href='/pricing'>Pricing</a>
                  </li>
                  <li>
                    <a href='/faq'>FAQ</a>
                    <span class='label success'>Actualizado</span>
                  </li>
                </ul>
              </div>
              <div class='span3'>
                <h4>Más</h4>
                <ul class='unstyled'>
                  <li>
                    <a href='http://blog.inlinesanctipetri.com'>Nuestro Blog</a>
                  </li>
                  <li>
                    <a href='/testimonials'>Testimonials</a>
                    <span class='label success'>New</span>
                  </li>
                  <li>
                    <a href='/roi'>Calculator</a>
                  </li>
                  <li>
                    <a href='/management-software'>Management Software</a>
                  </li>
                  <li>
                    <a href='/maintenance-software'>Maintenance Software</a>
                  </li>
                </ul>
              </div>
              <div class='span3'>
                <h4>Club</h4>
                <ul class='unstyled'>
                  <li>
                    <a href='/conocenos'>Conócenos</a>
                  </li>
                  <li>
                    <a href='/junta'>Junta directiva</a>
                  </li>
                  <li>
                    <a href='mailto:info@inlinesanctipetri.com'>Contacta</a>
                  </li>
                  <li>
                    <a href='/colaboradores'>Colaboradores</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class='span4'>
            <h4>
              Apúntate a nuestra lista de correo
            </h4>
            <p>
              Hear about new features, tips & other updates.
            </p>
            <form action='/subscribir/senior' id='subscribe_form' method='post' name='subscribe-form' target='_blank'>
              <div class='clearfix'>
                <input class='span4' name='EMAIL' placeholder='correo electrónico' type='email' />
                <input class='btn' name='subscribe' type='submit' value='Apúntate' />
              </div>
            </form>
          </div>
        </div>
      </div>
      <div id='footer-floor'>
        <div class='container'>
          <div class='row'>
            <div class='span8'>
              <h3 id='phone'>
                +34-686-280858              </h3>
              <p>
                &copy; 2012 <a href="/" title="Club In-Line Sancti Petri - Escuelas de patinaje y hockey en Chiclana de la Frontera, Cádiz">Club In-Line Sancti Petri</a>. Todos los derechos reservados.
                &nbsp;<a href='/terms'>Terms</a>&nbsp;&&nbsp;<a href='/privacy'>Privacy</a>.
              </p>
            </div>
            <div class='span2 ar' id='elsewhere-msg'>
              <h4>Conecta:</h4>
            </div>
            <div class='span2' id='elsewhere-icons'>
              <a class='twitter' href='https://twitter.com/demula' title='Follow @demula on Twitter'>
                Twitter
              </a>
              <a class='facebook' href='https://www.facebook.com/demula' title='"Like" demula on Facebook'>
                Facebook
              </a>
              <a class='blog' href='http://blog.inlinesanctipetri.com' title='Read our blog'>
                Blog
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    </div> <!-- /container -->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>

  

</body></html>
