{% extends "base.html" %}
{% block body %}
	<div class='hero-unit ac'>
      <div class='container'>
	  <br>
        <h1>Patinaje y Hockey línea en Chiclana desde 1997</h1>
        <div class='big-media'>
          <img alt='Conoce gente, juega partidos y diviertete con nosotros.' height='340' src='/img/{{ header_image }}' width='940' />
        </div>
      </div>
    </div>
	


    <div class="container content">

      <!-- Example row of columns -->
	  <div class='row'>
        <div class='span8'>
          <h1 class='lead'>
            <strong>Ven con nosotros</strong> y desarrolla tu coordinación, habilidad técnica en el patinaje, 
			conoce nuevos amigos y disfruta de un deporte de acción.
          </h1>
        </div>
        <div class='span4'>
          <p class='ac'>
            <a class='btn btn-primary huge success' href='/apuntate' style='width:80%' title='Apuntate a jugar con nosotros'>
              <strong>
                ¡ APÚNTATE !
              </strong>
            </a>
          </p>
          <h3 class='ac' style='line-height: 1;'>
            100% GRATIS
            <br />
            <small>
              para las 4 primeras clases
            </small>
          </h3>
        </div>
      </div>
      <hr />
	  <br>
      <div class="row">
        <div class="span1">
          <img alt='hockey man' src='/img/playing-hockey-red.jpg' />
		  </div>
		  <div class="span3">
		  <h2>Escuelas deportivas</h2>
          <p>En colaboración con el Patronato de Deportes del Ayuntamiento de Chiclana gestionamos las escuelas de patinaje y 
		  hockey en categorías benjamín e infantil, de 6 a 14 años tanto femenino como masculino...</p>
          <p><a class="btn btn-info" href="/escuelas">Ver más &raquo;</a></p>
        </div>
        <div class="span1">
          <img alt='hockey man' src='/img/playing-hockey-blue.jpg' />
		  </div>
		  <div class="span3">
		  <h2>Equipo Senior</h2>
          <p>Jugamos en ligas y torneos federativos desde el 98, contando con excelentes jugadores que han participado puntualmente 
		  en liga élite nacional con equipos de Madrid, Galicia o Castilla-León...</p>
          <p><a class="btn btn-info" href="/senior/#equipo">Ver más &raquo;</a></p>
       </div>
        <div class="span1">
          <img alt='hockey man' src='/img/hockytrophy.jpg' />
		  </div>
		  <div class="span3">
		  <h2>Liga Andaluza y Torneos</h2>
          <p>En la pasada temporada 2011-12 participamos en la liga autonómica organizada por la Federación Andaluza de Patinaje -FAP-, 
		  quedando subcampeones en categoría senior y benjamín...</p>
          <p><a class="btn btn-info" href="/competiciones">Ver más &raquo;</a></p>
        </div>
      </div>
	  <br>
	  <div class="row">
        <div class="span1">
          <img alt='hockey man' src='/img/playing-hockey-red.jpg' />
		  </div>
		  <div class="span3">
		  <h2>Patinaje adultos</h2>
          <p>En colaboración con el Patronato de Deportes del Ayuntamiento de Chiclana gestionamos las escuelas de patinaje y 
		  hockey en categorías benjamín e infantil, de 6 a 14 años tanto femenino como masculino...</p>
          <p><a class="btn btn-info" href="/escuelas">Ver más &raquo;</a></p>
        </div>
        <div class="span1">
          <img alt='hockey man' src='/img/playing-hockey-blue.jpg' />
		  </div>
		  <div class="span3">
		  <h2>Equipo femenino</h2>
          <p>Jugamos en ligas y torneos federativos desde el 98, contando con excelentes jugadores que han participado puntualmente 
		  en liga élite nacional con equipos de Madrid, Galicia o Castilla-León...</p>
          <p><a class="btn btn-info" href="/senior/#equipo">Ver más &raquo;</a></p>
       </div>
        <div class="span1">
          <img alt='hockey man' src='/img/hockytrophy.jpg' />
		  </div>
		  <div class="span3">
		  <h2>Apóyanos</h2>
          <p>En la pasada temporada 2011-12 participamos en la liga autonómica organizada por la Federación Andaluza de Patinaje -FAP-, 
		  quedando subcampeones en categoría senior y benjamín...</p>
          <p><a class="btn btn-info" href="/competiciones">Ver más &raquo;</a></p>
        </div>
      </div>
	  <br>
      <hr />
	  <br>
      <div class="row">
	    <div class="span9">
		  <h2>Quienes somos</h2>
          <p>El Club deportivo In Line Sancti Petri blal blala blaaa fgffjfg f g  rg  ersgrgsser  grserg ergsrg errg r se r egg e grsgs  e gr r  r r er gserg gseghtjyu jy h  tshh  hw5h 5h5   erge t  j  shht hh th eth   heth ejkghjhj tyrytyr huhuihuihu jjk ytyuhujkgj hghjghghjgj uggyuu gyugyugyugyu yugyugygyu  gyugyyuug uggygyg gyugyuhbjbhbhjbh hjhjhgj jhhjhgjhj jhghjghjghj hjhjgihgjh  fghfjfghfg gghjghjghj gjggkgh hjgghjggj hjghjgj hgjkggkh ghjgj hjghjgj hjghgjkghj gjfghgffhfth te hsth hth hst h he htht ehetheth ethset hset htehteh heth sh j 6j6  5 5 4 gr her   gre rgth tshtsht hst h</p>
        </div>
		<div class="span3">
          <img alt='hockey man' src='/img/inlinesplogo.jpg' />
		  </div>
      </div>
	  <br>
      <hr />

	</div>
{% endblock %}