{% extends "base.html" %}
{% block body %}
    <div class="container content">
      <!-- Example row of columns -->
      <div class="row">
	  <br>
        <div class="span2">
          <img alt='hockey man' src='/img/goalie1.jpg' />
		</div>
		<div class="span10">
		  <h2>Quienes somos</h2>
		  <div class="accordion" id="accordion1">
		  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#99">
        Temporada 1998-99
      </a>
    </div>
    <div id="99" class="accordion-body collapse in">
      <div class="accordion-inner">
	  <div class="span6">
        <p>El Club In Line Sancti Petri nació en el año <strong>1998</strong> con unas escuelas de patinaje 
		  y hockey para fomentar y crear una escuela, de la cual surgió un equipo con el que poder 
		  participar en los campeonatos oficiales y federados y en el año <strong>1999</strong> pudimos participar 
		  en la liga senior andaluza y en el campeonato junior.</p> 
		</div>
		<div class="span3">
			  <!-- Button to trigger modal -->
			<a href="#fot99" role="button" class="btn" data-toggle="modal"><img src="/img/2000.jpg" alt="temporada 2000-01"></a>
			<!-- Modal -->
			<div id="fot99" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot99Label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot99Label">Temporada 2000-01</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/2000.jpg" alt="temporada 2000-01"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#2000">
        Temporada 2000
      </a>
    </div>
    <div id="2000" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span6">
        <p>Es en el año <strong>2000</strong> cuando la cantera 
		  creada en esos años comienza a dar sus frutos, participando en las categorías senior, junior e infantil, 
		  ganando el campeonato de Andalucía en categoría infantil y nos otorgo la participación en el campeonato de 
		  España representando a Andalucía quedando en una sexta posición. </p> 
		</div>
		<div class="span3">
			  <!-- Button to trigger modal -->
			<a href="#fot2000" role="button" class="btn" data-toggle="modal"><img src="/img/2000.jpg" alt="temporada 2000-01"></a>
			<!-- Modal -->
			<div id="fot2000" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot2000Label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot2000Label">Temporada 2000-01</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/2000.jpg" alt="temporada 2000-01"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#2001">
        Temporada 2001
      </a>
    </div>
    <div id="2001" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span6">
        <p>En la temporada <strong>2001</strong> pudimos participar 
		  en todas las categorías y quedar en buenas posiciones, destacando la cuarta plaza en categoría senior y ganando 
		  en la categoría infantil, lo que nos posibilito participar por segunda vez en los campeonatos de España infantil 
		  y quedando otra vez en sexta posición.</p>
		</div>
		<div class="span3">
			  <!-- Button to trigger modal -->
			<a href="#fot2001" role="button" class="btn" data-toggle="modal"><img src="/img/2000.jpg" alt="temporada 2000-01"></a>
			<!-- Modal -->
			<div id="fot2001" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot2001Label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot2001Label">Temporada 2000-01</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/2000.jpg" alt="temporada 2000-01"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
      </div>
    </div>
</div>

		</div>
      </div>
	  </div>
	  <div class="row">
	  <div class="accordion" id="accordion3">
		  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#2002">
        Temporada 2002
      </a>
    </div>
    <div id="2002" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        <p>En el año <strong>2002</strong> se creo la categoría alevín, donde pudimos competir también con la cantera más pequeña, 
		  hasta 12 años. En este año participamos en todas las categorías: Senior, junior, juvenil, infantil y alevín. 
		  En esta temporada la actuación del Club in line Sancti petri realizo una grandísima actuación quedando terceros 
		  en la liga senior andaluza, segundos en la junior, campeones en juvenil, segundos en infantil y campeones en alevín. 
		  De esta forma participamos en los campeonatos de España juvenil y alevín, donde quedamos en quinta y séptima posición 
		  respectivamente.</p> 
		</div>
		<div class="span3">
			  <!-- Button to trigger modal -->
			<a href="#fot2002" role="button" class="btn" data-toggle="modal"><img src="/img/2002.jpg" alt="temporada 2000-01"></a>
			<!-- Modal -->
			<div id="fot2002" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot2002Label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot2002Label">Temporada 2002-03</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/2002.jpg" alt="temporada 2000-01"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#2003">
        Temporada 2003
      </a>
    </div>
    <div id="2003" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        <p>En el año <strong>2003</strong> volvimos a repetir las actuaciones, participando en todas las categorías de la 
		  competición federada andaluza y ganando otra vez el campeonato juvenil y alevin, quedando en los campeonatos de España 
		  en quinta y octava posición respectivamente que se jugaron en Castellón y Premiá de mar. Además prestamos 2 jugadores 
		  para participar el campeonato de España infantil y otros dos para el junior. En la liga senior quedamos en primera posición, 
		  por lo que pudimos participar en la primera copa del rey de hockey en línea, y en la ronda clasificatoria nos cruzamos contra 
		  los Guanches de Tenerife, equipo que participaba en la liga Nacional y tercer clasificado, que nos gano en su casa  y la vuelta lo 
		  pusimos mas difícil con un apretado 8-9 que dio la clasificación al equipo insular.</p> 
		</div>
		<div class="span3">
			  <!-- Button to trigger modal -->
			<a href="#fot2003" role="button" class="btn" data-toggle="modal"><img src="/img/2002.jpg" alt="temporada 2000-01"></a>
			<!-- Modal -->
			<div id="fot2003" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot2003Label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot2003Label">Temporada 2002-03</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/2002.jpg" alt="temporada 2000-01"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#2004">
        Temporada 2004
      </a>
    </div>
    <div id="2004" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        <p>La temporada <strong>2004-05</strong> participamos en la categoría Senior quedando en primera posición a falta de 2 jornadas por falta de tiempo. 
	  Participamos en los campeonatos de España Juveniles en Valladolid y el alevín en Bilbao, donde terminamos cuartos y octavos 
	  respectivamente.</p>
		</div>
		<div class="span3">
			  <!-- Button to trigger modal -->
			<a href="#fot2004" role="button" class="btn" data-toggle="modal"><img src="/img/2002.jpg" alt="temporada 2002-03"></a>
			<!-- Modal -->
			<div id="fot2004" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot2004Label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot2004Label">Temporada 2002-03</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/2002.jpg" alt="temporada 2000-01"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
      </div>
    </div>
</div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#2005">
        Temporada 2005
      </a>
    </div>
    <div id="2005" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        <p>La temporada <strong>2005-06</strong> hemos quedado en segunda  posición en el campeonato Senior Andaluz, disputando varias 
	  jornadas en la pista deportiva de la Soledad de Chiclana y hemos participado en los campeonatos de España Junior en Alcoy e 
	  Infantil en Valladolid, quedando en séptima posición en ambos. Campeones del II Torneo Ciudad de Chiclana celebrado en agosto 
	  e invitando a equipos de Madrid, Sevilla y Marbella.</p>
		</div>
		<div class="span3">
			  <!-- Button to trigger modal -->
			<a href="#fot2005" role="button" class="btn" data-toggle="modal"><img src="/img/2004.jpg" alt="temporada 2002-03"></a>
			<!-- Modal -->
			<div id="fot2005" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot2005Label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot2005Label">Temporada 2004-05</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/2004.jpg" alt="temporada 2000-01"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
      </div>
    </div>
</div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#2006">
        Temporada 2006
      </a>
    </div>
    <div id="2006" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        <p>La temporada <strong>2006-07</strong> hemos terminado en tercera posición en la liga senior 
	  andaluza. También participamos en el Campeonato Infantil y juvenil para poder clasificarnos para el campeonato de España y representar 
	  a Andalucía. También quedamos campeones de la Copa Federación, celebrada en Hytasa, Sevilla. Asistencia al 24h de Medina del Campo, 
	  Valladolid, quedando 5º clasificado. Campeones del III Torneo Ciudad de Chiclana celebrado en Agosto donde participaron equipos de 
	  Lisboa, Madrid y Sevilla. </p>
		</div>
		<div class="span3">
			  <!-- Button to trigger modal -->
			<a href="#fot2006" role="button" class="btn" data-toggle="modal"><img src="/img/2004.jpg" alt="temporada 2002-03"></a>
			<!-- Modal -->
			<div id="fot2006" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot2006Label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot2006Label">Temporada 2004-05</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/2004.jpg" alt="temporada 2000-01"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
      </div>
    </div>
</div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#2007">
        Temporada 2007
      </a>
    </div>
    <div id="2007" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="row">
	  <div class="span8">
        <p>La temporada <strong>2007-2008</strong> Subcampeones de Andalucía tan solo por diferencia de puntos, empatados con el que fue campeón, 
	  Legendarios de Algeciras. Campeones de Andalucía Infantil y Junior, también representando a nuestra comunidad en los Campeonatos de 
	  España en Castellón y Valladolid respectivamente. Campeones de la copa federación celebrada en Hytasa y del I Winter Classic 08 celebrado 
	  en febrero en Chiclana. Cuarto clasificado en el 24h de Medina del Campo. En el IV Torneo ciudad de Chiclana logramos quedar en primera 
	  posición, contando esta vez con equipos de Sevilla, Puerto Real, Marbella y Málaga. </p>
		</div>
		<div class="span3">
			  <!-- Button to trigger modal -->
			<a href="#fot2007" role="button" class="btn" data-toggle="modal"><img src="/img/2006.jpg" alt="temporada 2002-03"></a>
			<!-- Modal -->
			<div id="fot2007" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot2007Label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot2007Label">Temporada 2006-07</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/2006.jpg" alt="temporada 2000-01"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
			</div>
			<div class="row">
			<div class="span4">
			  <!-- Button to trigger modal -->
			<a href="#fot2007b" role="button" class="btn" data-toggle="modal"><img src="/img/torneoverano2007.jpg" alt="Torneo ciudad de chiclana 2007"></a>
			<!-- Modal -->
			<div id="fot2007b" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot2007bLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot2007bLabel">Torneo ciudad de chiclana 2007</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/torneoverano2007.jpg" alt="Torneo ciudad de chiclana 2007"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
			</div>
      </div>
    </div>
</div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#2008">
        Temporada 2008
      </a>
    </div>
    <div id="2008" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        <p>Temporada <strong>2008-2009</strong> marcada por la falta de Liga 
	  en Andalucía tras una falta de acuerdo económico entre los clubes y la federación, donde asistimos diversos torneos, siendo el LHL Sur 
	  el Principal de ellos, celebrado en Sevilla 6-7 de junio de 2009 y participando los clubes andaluces en las pistas polideportivas de 
	  Hytasa, las unicas pistas andaluzas cubiertas para poder organizar competiciones oficiales. Quedamos subcampeones, por detrás del Granada 
	  que era recientemente campeón Nacional de la LHL España. El II winter Classic (Chiclana), quedando Campeones. Campeones Torneo 
	  Improvisación Sevilla. Subcampeones del V Torneo Ciudad de Chiclana, con una gran asistencia de publico y contando con equipos de Granada 
	  (campeón), Sevilla, San José (Sevilla), San Fernando y Málaga. Realización de Torneos amistosos Infantil-juvenil entre los Clubes de San 
	  Fernando y Chiclana.</p>
		</div>
		<div class="span3">
			  <!-- Button to trigger modal -->
			<a href="#fot2008" role="button" class="btn" data-toggle="modal"><img src="/img/2006.jpg" alt="temporada 2002-03"></a>
			<!-- Modal -->
			<div id="fot2008" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot2008Label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot2008Label">Temporada 2006-07</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/2006.jpg" alt="temporada 2000-01"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
			<div class="row">
			<div class="span4">
			  <!-- Button to trigger modal -->
			<a href="#fot2008b" role="button" class="btn" data-toggle="modal"><img src="/img/torneoverano2008.jpg" alt="Torneo ciudad de chiclana 2008"></a>
			<!-- Modal -->
			<div id="fot2008b" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot2008bLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot2008bLabel">Torneo ciudad de chiclana 2008</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/torneoverano2008.jpg" alt="Torneo ciudad de chiclana 2008"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
			</div>
      </div>
    </div>
</div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#2009">
        Temporada 2009
      </a>
    </div>
    <div id="2009" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        <p>Temporada <strong>2009-2010</strong>: No concreta liga Andaluza, la única posibilidad para jugar es ceder jugadores al club que esta jugando liga nacional, 
	en este caso el granada grizzlies, con quien 4 jugadores jugaron varias jornadas de liga.</p>
		</div>
		<div class="span3">
			  <!-- Button to trigger modal -->
			<a href="#fot2009" role="button" class="btn" data-toggle="modal"><img src="/img/2008.jpg" alt="temporada 2002-03"></a>
			<!-- Modal -->
			<div id="fot2009" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot2009Label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot2009Label">Temporada 2008-09</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/2008.jpg" alt="temporada 2000-01"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
			<div class="row">
			<div class="span4">
			  <!-- Button to trigger modal -->
			<a href="#fot2009b" role="button" class="btn" data-toggle="modal"><img src="/img/torneoverano2009.jpg" alt="Torneo ciudad de chiclana 2009"></a>
			<!-- Modal -->
			<div id="fot2009b" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot2009bLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot2009bLabel">Torneo ciudad de chiclana 2009</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/torneoverano2009.jpg" alt="Torneo ciudad de chiclana 2009"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
			</div>
      </div>
    </div>
</div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#2010">
        Temporada 2010
      </a>
    </div>
    <div id="2010" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        <p>Temporada <strong>2010-2011</strong>: se consiguió fusionar con el equipo de Alcorcón (Madrid) para crear el Alcorcón Sancti Petri para disputar la 
	Primera división Nacional</p>
		</div>
		<div class="span3">
			  <!-- Button to trigger modal -->
			<a href="#fot2010" role="button" class="btn" data-toggle="modal"><img src="/img/2011.jpg" alt="temporada 2002-03"></a>
			<!-- Modal -->
			<div id="fot2010" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot2010Label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot2010Label">Temporada 2010-11</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/2011.jpg" alt="temporada 2000-01"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
			<div class="row">
			<div class="span4">
			  <!-- Button to trigger modal -->
			<a href="#fot2010b" role="button" class="btn" data-toggle="modal"><img src="/img/torneoverano2010.jpg" alt="Torneo ciudad de chiclana 2010"></a>
			<!-- Modal -->
			<div id="fot2010b" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot2010bLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot2010bLabel">Torneo ciudad de chiclana 2010</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/torneoverano2010.jpg" alt="Torneo ciudad de chiclana 2010"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
			</div>
      </div>
    </div>
</div>
<div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#2011">
        Temporada 2011
      </a>
    </div>
    <div id="2011" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        <p>Temporada <strong>2011-2012</strong>: .............</p>
		</div>
		<div class="span3">
			  <!-- Button to trigger modal -->
			<a href="#fot2010" role="button" class="btn" data-toggle="modal"><img src="/img/2011.jpg" alt="temporada 2002-03"></a>
			<!-- Modal -->
			<div id="fot2010" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot2010Label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot2010Label">Temporada 2011-12</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/2011.jpg" alt="temporada 2000-01"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
			<div class="row">
			<div class="span4">
			  <!-- Button to trigger modal -->
			<a href="#fot2011b" role="button" class="btn" data-toggle="modal"><img src="/img/torneoverano2011.png" alt="Torneo ciudad de chiclana 2011"></a>
			<!-- Modal -->
			<div id="fot2011b" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot2011bLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot2011bLabel">Torneo ciudad de chiclana 2011</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/torneoverano2011.png" alt="Torneo ciudad de chiclana 2011"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
			</div>
      </div>
    </div>
</div>
<div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#2012">
        Temporada 2012
      </a>
    </div>
    <div id="2012" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        <p>Temporada <strong>2012-2013</strong>: .......</p>
		</div>
		<div class="span3">
			  <!-- Button to trigger modal -->
			<a href="#fot2012" role="button" class="btn" data-toggle="modal"><img src="/img/2011.jpg" alt="temporada 2002-03"></a>
			<!-- Modal -->
			<div id="fot2012" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot2012Label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot2012Label">Temporada 2012-13</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/2011.jpg" alt="temporada 2000-01"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
			<div class="row">
			<div class="span4">
			  <!-- Button to trigger modal -->
			<a href="#fot2012b" role="button" class="btn" data-toggle="modal"><img src="/img/torneoverano2012.png" alt="Torneo ciudad de chiclana 2012"></a>
			<!-- Modal -->
			<div id="fot2012b" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot2012bLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot2012bLabel">Torneo ciudad de chiclana 2012</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/torneoverano2012.png" alt="Torneo ciudad de chiclana 2012"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>
			</div>
			</div>
      </div>
    </div>
</div>
		</div>
		
		<div class="row">
	  <br>
        <div>
			<div class="span4">
			  <!-- Button to trigger modal -->
			<a href="#fot03" role="button" class="btn" data-toggle="modal"><img src="/img/2004.jpg" alt="temporada 2003-04"></a>
 
			<!-- Modal -->
			<div id="fot03" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot03Label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot03Label">Temporada 2003-04</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/2004.jpg" alt="temporada 2003-04"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>

		</div>
				      <div class="span4">
			  <!-- Button to trigger modal -->
			<a href="#fot04" role="button" class="btn" data-toggle="modal"><img src="/img/2011.jpg" alt="temporada 2005-06"></a>
 
			<!-- Modal -->
			<div id="fot04" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot04Label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot04Label">Temporada 2010-11</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/2011.jpg" alt="temporada 2005-06"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>

		</div>
				      <div class="span4">
			  <!-- Button to trigger modal -->
			<a href="#fot05" role="button" class="btn" data-toggle="modal"><img src="/img/2008.jpg" alt="temporada 2007-08"></a>
 
			<!-- Modal -->
			<div id="fot05" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="fot05Label" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="fot05Label">Temporada 2007-08</h3>
			</div>
			<div class="modal-body">
				<p><img src="/img/2008.jpg" alt="temporada 2007-08"></p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
			</div>
			</div>

		</div>
		</div>
      </div>
		
	  <hr />
	<div class="tabbable"> <!-- Only required for left/right tabs -->
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#tab1" data-toggle="tab">Directiva</a></li>
		<li>
			<a href="#tab2" data-toggle="tab">Equipo Senior Sancti Petri</a></li>
		<li>
			<a href="#tab3" data-toggle="tab">Equipo Senior Hockey Fussion</a></li>
		<li>
			<a href="#tab4" data-toggle="tab">Palmarés</a></li>
		<li>
			<a href="#tab5" data-toggle="tab">Sponsors</a></li>
	</ul>
		<div class="tab-content">
			<div class="tab-pane active" id="tab1">
			<div class="row">
            <div class="span1">
          <img alt='hockey man' src='/img/blue-hocky-man-ejecutive.jpg' />
		</div>
			<div class="span11">
			<p><strong>Junta Directiva</strong></p>
			<p>La Junta Directiva del Club en la temporada 2012-13 la forman:</p>
			<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#01">
        Presidente: Jesús Álvarez Amor
      </a>
    </div>
    <div id="01" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        Fundador del Club en 1998. Jugador en el equipo senior como capitán. 
		</div>
		<div class="span2">
             <img src='/img/jesu.jpg' class="img-circle" alt='user'/>
		     </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#02">
        Vicepresidente: Baltasar Cabrera
      </a>
    </div>
    <div id="02" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        Coordinación de la Junta Directiva. 
		</div>
		<div class="span2">
             <img src='/img/userhockyman.jpg' class="img-circle" alt='user'/>
		     </div>
        </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#03">
        Secretario: Jesús de Mula y González de Riancho
      </a>
    </div>
    <div id="03" class="accordion-body collapse">
      <div class="accordion-inner">
	  	  <div class="span8">
        Responsable de la gestión y coordinación administrativa. Diseño y mantenimiento de la web oficial del Club. 
				</div>
		<div class="span2">
             <img src='/img/jesus-sr.jpg' class="img-circle" alt='user'/>
		     </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#04">
        Tesorero: Diego Díaz Sánchez
      </a>
    </div>
    <div id="04" class="accordion-body collapse">
      <div class="accordion-inner">
	 <div class="span8">
        Responsable de gestión económica y tesorería. Jugador titular del equipo senior.
		</div>
		<div class="span2">
             <img src='/img/diego.jpg' class="img-circle" alt='user'/>
		     </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#05">
        Vocal: Francisco Rendón Torres
      </a>
    </div>
    <div id="05" class="accordion-body collapse">
      <div class="accordion-inner">
	  	 <div class="span8">
        Responsable de instalaciones y mantenimiento. Delegado oficial de pista. 
		Monitor de las escuelas municipales de hockey y patinaje en varias temporadas. Jugador titular del equipo senior.
		</div>
		<div class="span2">
             <img src='/img/fran.jpg' class="img-circle" alt='user'/>
		     </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#06">
        Vocal: Carlos Gundín Rojo
      </a>
    </div>
    <div id="06" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
		Responsable del Blog del Club desde su creación en 2009. Jugador titular del equipo senior.
		</div>
		<div class="span2">
             <img src='/img/carlos.jpg' class="img-circle" alt='user'/>
		     </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#07">
        Vocal: Álvaro de Mula Cano
      </a>
    </div>
    <div id="07" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        Portero del equipo senior y monitor de las escuelas en pasadas temporadas.
		</div>
		<div class="span2">
             <img src='/img/alvaro.jpg' class="img-circle" alt='user'/>
		     </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#08">
        Vocal: José Fernández Meni
      </a>
    </div>
    <div id="08" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        Jugador del equipo senior.
		</div>
		<div class="span2">
             <img src='/img/pepe.jpg' class="img-circle" alt='user'/>
		     </div>
      </div>
    </div>
  </div>
</div>
			</div>

			</div>
			</div>
			<div class="tab-pane" id="tab2">
			<div class="row">
			<div class="span1">
          <img alt='hockey man' src='/img/playing-hockey-blue.jpg' />
		</div>
			<div class="span11">
			<p><strong>Equipo Senior temporada 2013-14</strong></p>
			<div class="accordion" id="accordion4">
			<div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#p12">
        José Mª Caraballo López
      </a>
    </div>
    <div id="p12" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #90 - Entrenador equipo y delantero
		</div>
		<div class="span2">
             <img src='/img/josemari.jpg' class="img-circle" alt='José Mª Caraballo López'/>
		     </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#p01">
        Manuel García Torrejón
      </a>
    </div>
    <div id="p01" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #70 - Defensa 
		</div>
		<div class="span2">
             <img src='/img/manuel.jpg' class="img-circle" alt='Oliver Günther'/>
		     </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#p02">
        Carlos Gundín Rojo
      </a>
    </div>
    <div id="p02" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #52 - Defensa
		</div>
		<div class="span2">
             <img src='/img/carlos.jpg' class="img-circle" alt='Carlos Gundín Rojo'/>
		     </div>
        </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#p03">
        Asis E. M.
      </a>
    </div>
    <div id="p03" class="accordion-body collapse">
      <div class="accordion-inner">
	  	  <div class="span8">
        #96 - Delantero
				</div>
		<div class="span2">
             <img src='/img/userhockyman.jpg' class="img-circle" alt='Aziz Es-Sair Messaoud'/>
		     </div>
      </div>
    </div>
  </div>
    <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#p16">
        Julia Salcini Gómez
      </a>
    </div>
    <div id="p16" class="accordion-body collapse">
      <div class="accordion-inner">
	  	  <div class="span8">
        #00 - Portera
				</div>
		<div class="span2">
             <img src='/img/julia.jpg' class="img-circle" alt='Julia Salcini Gómez'/>
		     </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#p04">
        Jesús Álvarez Amor
      </a>
    </div>
    <div id="p04" class="accordion-body collapse">
      <div class="accordion-inner">
	 <div class="span8">
        #11 - Defensa, Capitán
		</div>
		<div class="span2">
             <img src='/img/jesu.jpg' class="img-circle" alt='Jesús Álvarez Amor'/>
		     </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#p05">
        Peter King
      </a>
    </div>
    <div id="p05" class="accordion-body collapse">
      <div class="accordion-inner">
	  	 <div class="span8">
        #26 - Delantero
		</div>
		<div class="span2">
             <img src='/img/peter.jpg' class="img-circle" alt='Peter King'/>
		     </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#p25">
        Dave Peterson
      </a>
    </div>
    <div id="p25" class="accordion-body collapse">
      <div class="accordion-inner">
	  	 <div class="span8">
        #26 - Delantero
		</div>
		<div class="span2">
             <img src='/img/dave.jpg' class="img-circle" alt='Peter King'/>
		     </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#p06">
        Álvaro Maldonado Ordóñez
      </a>
    </div>
    <div id="p06" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #91 - Delantero
		</div>
		<div class="span2">
             <img src='/img/ALVARO-MAL.jpg' class="img-circle" alt='José Javier Serrano Serrano'/>
		     </div>
      </div>
    </div>
  </div>
  
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#p07">
        Fran Rendón Torres
      </a>
    </div>
    <div id="p07" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #07 - Delantero
		</div>
		<div class="span2">
             <img src='/img/fran.jpg' class="img-circle" alt='Fran Rendón Torres'/>
		     </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#p08">
        José Fernández Meni
      </a>
    </div>
    <div id="p08" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #09 - Defensa
		</div>
		<div class="span2">
             <img src='/img/pepe.jpg' class="img-circle" alt='José Fernández Meni'/>
		     </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#p09">
        Diego A. Díaz Sánchez
      </a>
    </div>
    <div id="p09" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #18 - Defensa
		</div>
		<div class="span2">
             <img src='/img/diego.jpg' class="img-circle" alt='Diego A. Díaz Sánchez'/>
		     </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#p10">
        Álvaro de Mula Cano
      </a>
    </div>
    <div id="p10" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #62 - Portero
		</div>
		<div class="span2">
             <img src='/img/alvaro.jpg' class="img-circle" alt='Álvaro de Mula Cano'/>
		     </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#p11">
        Héctor de Mula Cano
      </a>
    </div>
    <div id="p11" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #24 - Defensa
		</div>
		<div class="span2">
             <img src='/img/hector.jpg' class="img-circle" alt='Héctor de Mula Cano'/>
		     </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#p13">
        Pablo Barón Crespo
      </a>
    </div>
    <div id="p13" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #06 - Delantero
		</div>
		<div class="span2">
             <img src='/img/pablob.jpg' class="img-circle" alt='Pablo Barón Crespo'/>
		     </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#p14">
        Pablo Cabrera Rosado
      </a>
    </div>
    <div id="p14" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #04 - Delantero
		</div>
		<div class="span2">
             <img src='/img/pablo-cab.jpg' class="img-circle" alt='Pablo Cabrera Rosado'/>
		     </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion4" href="#p15">
        Martina Cabrera Rosado
      </a>
    </div>
    <div id="p15" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #98 - Defensa
		</div>
		<div class="span2">
             <img src='/img/martina.jpg' class="img-circle" alt='Martina Cabrera Rosado'/>
		     </div>
      </div>
    </div>
  </div>
		</div>
			</div>
			</div>
			</div>
			<div class="tab-pane" id="tab3">
			<div class="span1">
          <img alt='hockey man' src='/img/playing-hockey-red.jpg' />
		</div>
			<div class="span11">
			<p><strong>Equipo Senior Hockey Fussion - Temporada 2013-14</strong></p>
			<div class="accordion" id="accordion5">
			  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#h01">
        Francisco Colon Flores
      </a>
    </div>
    <div id="h01" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #00 - Jugador
		</div>
		<div class="span2">
             <img src='/img/FRAN-COLON.jpg' class="img-circle" alt='Francisco Colon Flores'/>
		     </div>
      </div>
    </div>
  </div>
			  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#h02">
        Beatriz Moreno Cuevas
      </a>
    </div>
    <div id="h02" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #00 - Jugador
		</div>
		<div class="span2">
             <img src='/img/beatriz.jpg' class="img-circle" alt='Ricardo Martínez del Junco'/>
		     </div>
      </div>
    </div>
  </div>
  			  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#h03">
        José Manuel Pérez Catalán (Primo)
      </a>
    </div>
    <div id="h03" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #00 - Portero
		</div>
		<div class="span2">
             <img src='/img/PRIMO-FOTO.jpg' class="img-circle" alt='José Manuel Pérez Catalán (Primo)'/>
		     </div>
      </div>
    </div>
  </div>
  			  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#h04">
        Daniel Naranjo Sánchez (Topeka)
      </a>
    </div>
    <div id="h04" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #00 - Portero
		</div>
		<div class="span2">
             <img src='/img/topeka.jpg' class="img-circle" alt='Daniel Naranjo Sánchez (Topeka)'/>
		     </div>
      </div>
    </div>
  </div>
  			  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#h05">
        Patricia Caro Solís
      </a>
    </div>
    <div id="h05" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #00 - Jugadora
		</div>
		<div class="span2">
             <img src='/img/patricia.jpg' class="img-circle" alt='Patricia Caro Solís'/>
		     </div>
      </div>
    </div>
  </div>
  			  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#h06">
        Rafael Flores Camino
      </a>
    </div>
    <div id="h06" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #00 - Jugador
		</div>
		<div class="span2">
             <img src='/img/foto-rafa.jpg' class="img-circle" alt='Pablo Cabrera Rosado'/>
		     </div>
      </div>
    </div>
  </div>
  			  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#h07">
        Julio Romero Vargas
      </a>
    </div>
    <div id="h07" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #00 - Jugador
		</div>
		<div class="span2">
             <img src='/img/JULIO.jpg' class="img-circle" alt='Julio Romero Vargas'/>
		     </div>
      </div>
    </div>
  </div>
  			  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#h08">
        Jesús De Mula Cano

      </a>
    </div>
    <div id="h08" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #00 - Jugador
		</div>
		<div class="span2">
             <img src='/img/jesus-mula.jpg' class="img-circle" alt='Carlos Rodríguez Fernández'/>
		     </div>
      </div>
    </div>
  </div>
  			  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#h09">
        Carlos Chover Navarro
      </a>
    </div>
    <div id="h09" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #00 - Jugador
		</div>
		<div class="span2">
             <img src='/img/CARLOS-CHOVER.jpg' class="img-circle" alt='Carlos Chover Navarro'/>
		     </div>
      </div>
    </div>
  </div>
  			  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#h10">
        Alfredo García Mariñas
      </a>
    </div>
    <div id="h10" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #00 - Jugador
		</div>
		<div class="span2">
             <img src='/img/lino.jpg' class="img-circle" alt='Alfredo García Mariñas'/>
		     </div>
      </div>
    </div>
  </div>
  			  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#h11">
        Marco Carrión Salguero
      </a>
    </div>
    <div id="h11" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #00 - Jugador
		</div>
		<div class="span2">
             <img src='/img/marco.jpg' class="img-circle" alt='Marco'/>
		     </div>
      </div>
    </div>
  </div>
  			  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion5" href="#h12">
       Francisco Contreras Ruiz
      </a>
    </div>
    <div id="h12" class="accordion-body collapse">
      <div class="accordion-inner">
	  <div class="span8">
        #00 - Jugador
		</div>
		<div class="span2">
             <img src='/img/paco.jpg' class="img-circle" alt='Álvaro'/>
		     </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
			<div class="tab-pane" id="tab4">
						<div class="span1">
          <img alt='hockey man' src='/img/hockytrophy.jpg' />
		</div>
		<div class="span11">
			<p><strong>Palmarés y Trofeos</strong></p>
			<div class="span12">
			<strong>1999/2000:</strong><br>
			• Campeones de Andalucía categoría infantil.<br><br>
			<strong>2001/2002:</strong><br>
			• Campeones de Andalucía categoría infantil.<br><br>
			<strong>2002/2003:</strong><br>
			• Campeones de la liga andaluza alevín.<br>
			• Campeones de la liga andaluza juvenil.<br>
			• Subcampeón en el torneo internacional de Santa Cruz (Portugal).<br><br>
			<strong>2002/2003:</strong><br>
			• Campeones de la liga alevín andaluza.<br>
			• Campeones de la liga juvenil andaluza.<br>
			• Campeones de la liga senior andaluza.<br><br>
			<strong>2004/2005:</strong><br>
			• Campeones de la liga juvenil andaluza.<br>
			• Subcampeón de la liga junior andaluza.<br><br>
			<strong>2005/2006:</strong><br>
			• Campeones del II Torneo Ciudad de Chiclana.<br>
			• Campeones Andaucía Junior.<br>
			• Subcampeón de la liga senior andaluza.<br><br>
			<strong>2006/2007:</strong><br>
			• Campeones de la Copa Federación, celebrada en Hytasa (Sevilla).<br>
			• Campeones del III Torneo Ciudad de Chiclana.<br><br>
			<strong>2007/2008:</strong><br>
			• Campeones del I Winter Classic de Chiclana.<br>
			• Campeones de la Copa Federación, celebrada en Hytasa (Sevilla).<br>
			• Subcampeón de la liga senior andaluza.<br>
			• Campeones del IV Torneo Ciudad de Chiclana.<br><br>
			<strong>2008/2009:</strong><br>
			• Campeones del II Winter Classic de Chiclana.<br>
			• Subampeones del IV Torneo Ciudad de Chiclana.<br><br>
			<strong>2010/2011:</strong><br>
			• 4º Clasificado en la Liga Nacional Bronce con un equipo combinado C.P. Alcorcón y
C.D. In-Line Sancti Petri.<br><br>
			<strong>2011/2012:</strong><br>
			• Subcampeones de la liga senior andaluza.<br><br>
			<strong>2012/2013:</strong><br>
			• Campeones de la liga senior andaluza.<br><br>
			</div>
			</div>
			</div>
			<div class="tab-pane" id="tab5">
			<p><strong>Sponsors</strong></p>
			</div>
		</div>
	</div>
</div>

	<div class="row">
	  <div class="span1">
	  <a href="http://www.xiti.com/xiti.asp?s=296742" title="WebAnalytics" target="_top">
<script type="text/javascript">
<!--
Xt_param = 's=296742&p=quienes_somos';
try {Xt_r = top.document.referrer;}
catch(e) {Xt_r = document.referrer; }
Xt_h = new Date();
Xt_i = '<img width="80" height="15" border="0" alt="" ';
Xt_i += 'src="http://logv7.xiti.com/bcg.xiti?'+Xt_param;
Xt_i += '&hl='+Xt_h.getHours()+'x'+Xt_h.getMinutes()+'x'+Xt_h.getSeconds();
if(parseFloat(navigator.appVersion)>=4)
{Xt_s=screen;Xt_i+='&r='+Xt_s.width+'x'+Xt_s.height+'x'+Xt_s.pixelDepth+'x'+Xt_s.colorDepth;}
document.write(Xt_i+'&ref='+Xt_r.replace(/[<>"]/g, '').replace(/&/g, '$')+'" title="Internet Audience">');
//-->
</script>
<noscript>
Mesure d'audience ROI statistique webanalytics par <img width="80" height="15" src="http://logv7.xiti.com/bcg.xiti?s=296742&p=quienes_somos" alt="WebAnalytics" />
</noscript></a>
</div>
	  </div>
	</div>
{% endblock %}
